<div class="container-fluid ant-container">    
    <br>
    <div class="white-wrapper">
        <br><br><br><br>
        <img src="../assets/images/404.jpg" alt="404" class="img-gateway">        
        <div class="error-container" style="margin-top: 0;">
            <!-- <h1>504 Gateway Timeout</h1> -->
            <h3>Something missing</h3>
            <p>This page is missing or you assembled the link incorrectly! </p>
        </div>
        <br><br><br><br>
        
    </div>
</div>