<div class="container-fluid ant-container">    
    <br>
    <div class="white-wrapper error-wrap">
        <div class="error-container">
            <h1>504 Gateway Timeout</h1>
            <h3>Something missing</h3>
            <p>A Gateway might refer to different things in networking and a 504 error is usually not something you can fix, but requires a fix by the web server or the proxies you are trying to get access through.</p>
        </div>
        <img src="../assets/images/gateway.jpg" alt="Gateway" class="img-gateway">
    </div>
</div>