<div class="container-fluid ant-container">    
    <br>
    <div class="white-wrapper error-wrap">
        <div class="error-container">
            <h1>504 Gateway Timeout</h1>
            <h3>Something missing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sit dignissimos odio, ea tempora officia
                nostrum numquam distinctio, pariatur fugit totam ex alias laborum magnam quas unde exercitationem quidem
                vitae.</p>
        </div>
        <img src="../assets/images/gateway.jpg" alt="Gateway" class="img-gateway">
    </div>
</div>