<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="add-a-job.html" class="main-heading">Ada a job</a>
		</div>

	</div>
	<!--/ Header -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="form-antlegs add-job-form">
					<form autocomplete="off" class="form" role="form">
						<div class="row">
							<div class="col-12 col-md-12">
								<div class="form-group">
									<label for="inputName">Job Title*</label>
									<input class="form-control" id="inputName" type="text" value="Manager" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Job Function*</label>
									<input class="form-control" id="inputName" type="text" value="Information Technology" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Location*</label>
									<input class="form-control" id="inputName" type="text" value="Mumbai" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Employement Type*</label>
									<select class="form-control select" disabled>
											<option value="">Select Employement Type</option>
											<option value="" selected>Permanent</option>
											<option value="">Temporary</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Minimum Experience (Yrs)*</label>
									<input class="form-control" id="inputName" type="text" value="5" disabled>
                                    <small>Eg: 02-10 years</small>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Seniority Level*</label>
									<input class="form-control" id="inputName" type="text" value="Mid Level" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">No of Positions*</label>
									<input class="form-control" id="inputName" type="text" value="01" disabled>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Education Level</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Degree*</label>
									<input class="form-control" id="inputName" type="text" value="MCA" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Specialization*</label>
									<input class="form-control" id="inputName" type="text" value="Computer" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Certifications (If any)</label>
									<input class="form-control" id="inputName" type="text" value="HFI" disabled>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<div class="ant-rich-text">
									<textarea class="form-control" rows="5" disabled>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi facere quo voluptate, numquam esse molestias! Vel aliquam consectetur veniam sint dolores dicta ipsa dolore repellendus? Nesciunt magnam impedit accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi facere quo voluptate, numquam esse molestias! Vel aliquam consectetur veniam sint dolores dicta ipsa dolore repellendus? Nesciunt magnam impedit accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus modi facere quo voluptate, numquam esse molestias! Vel aliquam consectetur veniam sint dolores dicta ipsa dolore repellendus? Nesciunt magnam impedit accusamus.</textarea>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Cadidate Preferences</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Nationality*</label>
									<input class="form-control" id="inputName" type="text" value="Indian" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Gender*</label>
									<select class="form-control select" disabled>
											<option value="">Select Gender</option>
											<option value="">Male</option>
											<option value="" selected>Female</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Age range</label>
									<input class="form-control" id="inputName" type="text" value="20 - 30" disabled>
									<small>Eg: 20-30</small>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Salary & Rewards</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Salary Offered (USD/Year)*</label>
									<input class="form-control" id="inputName" type="text" value="25,000" disabled>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Reward Offered*</label>
									<select class="form-control select" disabled>
											<option value="">Select Reward Offered</option>
											<option value="" selected>2,000</option>
											<option value="">4,000</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Reward Value (USD)</label>
									<input class="form-control" id="inputName" type="text" value="0" disabled>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group last-group text-center">
									<a class="btn btn-get btn-white" href="add-a-job.html"><span class="fa fa-edit"></span>Edit</a>
									<button class="btn btn-get" type="submit">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>