<div class="container-fluid ant-container">
    <!-- Header -->
    <div class="row header">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="add-a-job.html" class="main-heading no-arrow">Add Business Partner</a>
        </div>

    </div>
    <!--/ Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">                
                <div class="form-antlegs add-job-form">
                    <p class="text-right">all fields are mandatory</p>
                    <form autocomplete="off" class="form" role="form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Business Partner</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Display Name</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Location</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Website</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Contact Person</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Designation</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Email</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Contact Number</label>
                                    <input class="form-control" id="inputName" type="text">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Upload Logo</label>
                                    <input class="form-control" id="inputName" type="file">
                                    <small>Format : JPEG, PNG or GIF (Size : 1 MB Max)</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="inputName">Upload Agreement Copy</label>
                                    <input class="form-control" id="inputName" type="file">
                                    <small>Format : Word, PDF (Size : 1 MB Max)</small>
                                </div>
                            </div>

                            <div class="col-12">                                
                                <div class="row justify-content-md-center form-group last-group text-center">
                                    <button class="col col-lg-2 btn btn-get btn-white" type="reset">Cencel</button>  
                                    <button class="col col-lg-2 btn btn-get" type="submit">Add</button>  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>