<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="add-a-job.html" class="main-heading">Ada a job</a>
		</div>

	</div>
	<!--/ Header -->

	<div class="form-wrapper">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<h5 class="mandatory">*mandatory fields</h5>
					<div class="form-antlegs floating-form">
						<form autocomplete="off" class="form" role="form">
							<div class="row">
								<div class="col-12 col-md-12">
									<div class="row">
										<div class="col-12 col-md-4">
											<div class="floating-label">
												<input class="floating-input" type="text" placeholder=" " value="Web Developer">
												<label>Job Title*</label>
											</div>
										</div>
									</div>

								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Permanent">
											<option value=""></option>
											<option value="1" selected>Permanent</option>
											<option value="2">Temporary</option>
										</select>
										<label>Job Function</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Delhi">
											<option value=""></option>
											<option value="1" selected>Mumbai</option>
											<option value="2">Delhi</option>
											<option value="3">Pune</option>
										</select>
										<label>Job Location</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="Senior">
										<label>Experience Level</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Manager">
											<option value=""></option>
											<option value="1" selected>Manager</option>
											<option value="2">CEO</option>
											<option value="3">MD</option>
										</select>
										<label>Seniority Level</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Permanent">
											<option value=""></option>
											<option value="1" selected>Permanent</option>
											<option value="2">Temporary</option>
											<option value="3">Part Time</option>
										</select>
										<label>Employment Type</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="5">
										<label>Openings</label>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Education Level</h4>
								</div>

								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="MCA">
											<option value=""></option>
											<option value="1" selected>MCA</option>
											<option value="2">B.Com</option>
											<option value="3">M.Sc</option>
										</select>
										<label>Degree</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="PHP">
										<label>Specialization</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="MBA">
										<label>Certifications (If any)</label>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Job Description</h4>
								</div>

								<div class="col-12 col-md-12">
									<div class="floating-label">
										<textarea class="floating-input floating-textarea" rows="10" placeholder=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error qui culpa aperiam sunt explicabo consequatur incidunt dignissimos accusantium rem? Totam incidunt nisi magnam doloremque nobis laboriosam ullam placeat ut excepturi?
										</textarea>
										<label>Job Description</label>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Required Skills*</h4>
								</div>

								<div class="col-12 col-md-12">
									<div class="floating-label">
										<textarea class="floating-input floating-textarea" rows="10" placeholder=" ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique corporis minus sunt, voluptates labore sequi sed voluptatum quisquam eius! Quaerat hic voluptas iure maxime ratione animi ipsam error soluta porro!
										</textarea>
										<label>Required Skills*</label>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Candidate Preferences</h4>
								</div>

								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Indian">
											<option value=""></option>
											<option value="1" selected>Indian</option>
											<option value="2">Chines</option>
											<option value="3">American</option>
										</select>
										<label>Nationality</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<select class="floating-select select" onclick="this.setAttribute('value', this.value);"
											value="Male">
											<option value=""></option>
											<option value="1" selected>Male</option>
											<option value="2">Female</option>
											<option value="3">Others</option>
										</select>
										<label>Gender</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="30">
										<label>Age Range</label>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Salary & Rewards</h4>
								</div>

								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="10 Lacs">
										<label>Max Salary Offered</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="1000">
										<label>Reward Offered</label>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="floating-label">
										<input class="floating-input" type="text" placeholder=" " value="100">
										<label>Reward Value</label>
									</div>
								</div>
								<div class="col-12">
									<div class="form-check small">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" checked>
											<span>Keep the employer name confidential</span>
										</label>
									</div>

								</div>
								<div class="col-12">
									<div class="form-group last-group text-center">
										<a class="btn btn-get btn-white waves-effect waves-light" href="add-a-job-2.html"><span
												class="fa fa-edit"></span>Edit</a>
										<button class="btn btn-get waves-effect waves-light" type="submit">Save</button>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>