<!-- Interview Schedule Modal -->
<div class="modal fade" id="addInterview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Interview Schedule</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ism-body">
				<div class="id-content">
					<div class="ant-content">
						<!--Title-->
						<p class="text-16">
							Position : <b>Head of Information Technology</b>
						</p>
						<p class="text-16">
							Candidate Name : <b>Michael Paul</b>
						</p>
						<br>	
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ant-content">
								<!--Title-->
								<p>
									<b>Schedule Interview</b>
								</p>
							</div>
						</div>
					</div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#interviewDetail">Interview Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#interviewerDetails">Interviewer Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#venueDetails">Venue Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ps">Preview & Schedule</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="interviewDetail">
                            <p>Interview Details</p>
                        </div>
                        <div class="tab-pane container fade" id="interviewerDetails">
                            <p>Interviewer Details</p>
                        </div>
                        <div class="tab-pane container fade" id="venueDetails">
                            <p>Venue Details</p>
                        </div>
                        <div class="tab-pane container fade" id="ps">
                            <p>Preview & Schedule</p>
                        </div>
                    </div>

				</div>
			</div>
			<div class="modal-footer ise-footer">				
				<div class="text-center">
					<button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Discard</button>
					<button type="button" class="btn btn-big disbled waves-effect">Add Interviewer</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Interview Schedule Modal -->