<div class="col">
    <!--Card-->
    <div class="card ant-card">
        <div class="row">
            <div class="col col-sm-12">
                <div class="match-ratio" data-toggle="modal" data-target="#rateCadidate">
                    <span>Match Ratio</span>
                    <span class="pb">
                        <div class="progress">
                            <div class="progress-bar bg-green" style="width:80%"></div>
                        </div>
                    </span>
                    <span><b>8</b>/10</span>
                </div>
            </div>

        </div>
        <br>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Freddy George Fernandes
            </h5>
            <h5 class="card-title">
                Indian / Male / Age 23 yrs
            </h5>
            <br>
            <!--Text-->
            <p class="card-title">
                Hexaware Technologies
            </p>
            <p class="card-title">
                Director - Marketing & Communic...
            </p>
            <p class="card-title">
                Relevant Experience : 10 yrs
            </p>
        </div>

        <div class="ant-footer">
            <hr>
            <p class="publish-date">
                <span>Added on</span> Aug 28, 2019
                <!-- <span class="skeleton-box" style="width:30%;"></span> -->
            </p>
        </div>

    </div>
    <!--/.Card-->
</div>