<li>
                        <div class="branch-list">
                            <div class="branch-location">
                                <div class="location">Europe</div>
                                <div class="location-edit">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="assets/images/black-nav-icon.png" alt="Antlegs">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                            
                                            <a class="dropdown-item">
                                                Edit
                                            </a>
                                            <a class="dropdown-item">
                                                Activate
                                            </a>
                                            <a class="dropdown-item">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Mumbai, Cuffee
                                                        Parade</label>
                                                </div>
                                            </a>
                                            <a class="dropdown-item">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                                    <label class="form-check-label" for="exampleCheck2">Mumbai, Cuffee
                                                        Parade</label>
                                                </div>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="address-block">
                                <h5>Antlegs Technology</h5>
                                <p>B/7676, 247 Park, Gandi Nagar, <br> Cuffe Parade, Europe</p>
                                <a href="tel:+91 233 445 6767">+91 233 445 6767</a>
                                <p>Location Map: </p>
                                <a href="http://maps.google.co.in/embed...">http://maps.google.co.in/embed...</a>
                            </div>

                            <div class="address-block">
                                <h5>Antlegs Technology</h5>
                                <p>B/7676, 247 Park, Gandi Nagar, Cuffe Parade, Europe</p>
                                <a href="tel:+91 233 445 6767">+91 233 445 6767</a>
                                <p>Location Map: </p>
                                <a href="http://maps.google.co.in/embed...">http://maps.google.co.in/embed...</a>
                            </div>
                        </div>
                    </li>