<div class="container-fluid ant-container">
	<!-- change password Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="#" class="main-heading no-arrow">Change Your Password</a>
		</div>
	</div>
	<!--/ change password Header -->

	<div class="white-wrapper">
		<div class="cp-wrapper">
			<div class="row">
				<div class="col text-center">
					<img src="assets/images/password-bg.jpg" alt="Password Change">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="form-antlegs floating-form">
							<form autocomplete="off" class="form" role="form">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="floating-label">
											<input class="floating-input" type="password" placeholder=" ">
											<label>New Password</label>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="floating-label">
											<input class="floating-input" type="password" placeholder=" ">
											<label>Confirm New Passwsord</label>
										</div>
									</div>
									<div class="col-12">
										<p><b>Password must contain:</b> Atleast 1 upper case letter (A-Z) | Atleast 1
											number (0-9) | Atleast 8 characters
										</p>
									</div>
									<div class="col-12">
										<div class="form-group last-group text-center">
											<button class="btn btn-get btn-white btn-blue-outline"
												type="reset">Clear</button>
											<button class="btn btn-get" type="submit">Change Password</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>