<div class="coach-overlay">    
    <a href="#" class="close-btn"></a>
    <div class="coach-body">
        
        <h2>Get Started</h2>
        <div class="coach-content">
            <div class="guide">
                <button class="btn blue waves-effect">+ ADD JOB</button> 
                <span>Employers can now click on the Add Jobs button on top right to add a job</span> 
            </div>
            <div class="guide header">
                <button class="btn blue filter-open waves-effect">Filter</button> 
                <span>Now use the filter option on top to get your desired results </span>
            </div>  

            <div class="guide-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde labore obcaecati est ut dolor architecto itaque quos, vitae nam ipsum sequi voluptas distinctio. Hic illum et quasi optio omnis.</p>
            </div> 

            <div class="group-btn">
                <a href="#" class="prev">Prev</a>
                <a href="#" class="next">Next</a>
            </div>
        </div>
    </div>
</div>