<div class="core-features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="cf-content">
                    <h4 class="bold">Core Features</h4>

                    <ul class="feature-list">
                        <li class="store">
                            <h5>STORE</h5>
                            <p>Store your desired candidates in one location and reuse when required</p>
                        </li>
                        <li class="submit">
                            <h5>SUBMIT</h5>
                            <p>Submit the most appropriate candidate against a particular job</p>
                        </li>
                        <li class="organize">
                            <h5>ORGANIZE</h5>
                            <p>Organize the CV in your desired order which makes finding the CV much simpler</p>
                        </li>
                        <li class="track">
                            <h5>TRACK</h5>
                            <p>Get notified about the status of the candidate applied against a job</p>
                        </li>
                        <li class="search">
                            <h5>SEARCH</h5>
                            <p>Searching a single CV from thousands is so simple by using our custom built filters</p>
                        </li>
                        <li class="empower">
                            <h5>EMPOWER</h5>
                            <p>Empower to work faster than your competition</p>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 white-bg">
                <div class="groups-content">
                    <h4>Antlegs was designed for independent recruiters and comes in a rewarding system on each hirings
                    </h4>
                    <p>Antlegs was built from the ground-up and was designed to cater to the unique requirements of our region. It gives you the tools you need to save time, close jobs efficiently, and to make your interactions with your clients a world-class experience.</p>
                    </p>
                </div>
                <img class="lazy" src="assets/images/groups.jpg" data-src="assets/images/groups.jpg" alt="AntLegs" />
            </div>
        </div>
    </div>
</div>