<div class="core-features-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-6">
				<div class="cf-content">
					<h4 class="bold">Core Features</h4>
					<ul class="feature-list">
						<li class="store">
							<h5>Techno-human intelligence</h5>
							<p>Revolutionising the hiring workflow- integrating  technology and human intelligence seamlessly </p>
						</li>
						<li class="submit">
							<h5>Interactive interview scheduling</h5>
							<p>Valuing talent and their time is the core of any great hiring strategy</p>
						</li>
						<li class="organize">
							<h5>Standardised resume format</h5>
							<p>The future belongs to unbiased hiring- strength to look beyond the blind spots</p>
						</li>
						<li class="track">
							<h5>Real time status alerts</h5>
							<p>Real time alerts and notifications to support faster response time and quicker decisions</p>
						</li>
						<li class="search">
							<h5>Dynamic data masking</h5>
							<p>Need based data unmasking to protect the privacy of all our stakeholders</p>
						</li>
						<li class="empower">
							<h5>Stakeholder rating</h5>
							<p>Point based rating of stakeholders- we believe in connecting real people to real jobs</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-6 white-bg">
				<div class="groups-content">
					<h4>A technologically advanced, new and revolutionary <span>referral driven recruiting platform</span> that brings employers, referrers to match top quality talent with great positions, and make the experience extremely rewarding for everyone involved.</h4>
					<p>AntLegs realizes a future where recruiters can seamlessly work with employers to fill open / vacant positions faster improving quality of hire and significantly reduce cost per hire.</p>
					</p>
				</div>
				<img class="lazy" src="assets/images/groups.jpg" data-src="assets/images/groups.jpg" alt="AntLegs" />
			</div>
		</div>
	</div>
</div>

<div class="nic">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<h1>No Infrastructure Cost</h1>
			</div>
			<div class="col-12 col-sm-6 light">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
					facilisis. </p>
			</div>
		</div>
	</div>
</div>