<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="#" class="main-heading">Add candidate</a>
		</div>

	</div>
	<!--/ Header -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="form-antlegs add-job-form">
					<form autocomplete="off" class="form" role="form">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Full name*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Contact No.*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Email*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>

							<div class="col-12">
								<div class="form-group last-group text-center">
									<button class="btn btn-get btn-white" type="reset">Cencel</button>
									<button class="btn btn-get" type="submit">Check</button>
								</div>
								<hr>
							</div>
						</div>
						<div class="candidate-form">
							<div class="row">




								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Nationality*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Gender*</label>
										<select class="form-control select">
											<option value="">Select Gender</option>
											<option value="">Male</option>
											<option value="">Female</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Year of birth*</label>
										<select class="form-control select">
											<option value="">Select Year of birth</option>
											<option value="">2000</option>
											<option value="">2001</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Experience (Years)*</label>
										<select class="form-control select">
											<option value="">Select Experience (Years)</option>
											<option value="">2000</option>
											<option value="">2001</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Current Location*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Willing to relocate*</label>
										<select class="form-control select">
											<option value="">Select Willing to relocate</option>
											<option value="">Mumbai</option>
											<option value="">Pune</option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">LinkedIn Link*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Skype ID*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>

								<div class="col-12 col-md-12">
									<div class="form-group">
										<label for="inputName">Profile summary min 150 char*</label>
										<div class="ant-rich-text">
											<textarea class="job-description">Next, use our Get Started docs to setup Tiny!</textarea>
										</div>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<h4>Education Level</h4>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Years*</label>
										<select class="form-control select">
											<option value="">Select Years</option>
											<option value="">2000</option>
											<option value="">2001</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Degree*</label>
										<select class="form-control select">
											<option value="">Select Degree</option>
											<option value="">MBA</option>
											<option value="">MCA</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">Specialization*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">University*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<label for="inputName">Certifications (If any)</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>



								<div class="col-12 col-md-12">
									<h4>Employment History</h4>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">From*</label>
										<select class="form-control select">
											<option value="">Select from</option>
											<option value="">2000</option>
											<option value="">2001</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="inputName">To*</label>
										<select class="form-control select">
											<option value="">Select To</option>
											<option value="">2019</option>
											<option value="">2018</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md-6">
									&nbsp;
								</div>

								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Employer*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Industry*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Location*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Designation*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Job Function*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Reporting to*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-12">
									<div class="form-group">
										<label for="inputName">Responsibilities*</label>
										<div class="ant-rich-text">
											<textarea class="job-description">Responsibilities</textarea>
										</div>
									</div>
								</div>

								<div class="col-12 col-md-12">
									<div class="form-group">
										<label for="inputName">Skills</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-12">
									<div class="form-group">
										<label for="inputName">Upload CV</label>
										<div class="file-upload">
											<h5 class="ant-title"><span class="bold">Upload Your CV:</span> <span>(Format : JPEG,
													PNG, BMP or GIF and size not exceeding 2MB)</span></h5>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
													<label class="custom-file-label" for="inputGroupFile01">No file chosen</label>
												</div>
											</div>
										</div>
									</div>

								</div>


								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Current Salary (USD)*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Min Expected Salary (USD)*</label>
										<input class="form-control" id="inputName" type="text">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="inputName">Notice Period*</label>
										<select class="form-control select">
											<option value="">Select Notice Period</option>
											<option value="">1 Month</option>
											<option value="">2 Months</option>
										</select>
									</div>
								</div>

								<div class="col-12">
									<div class="form-group last-group text-center">
										<button class="btn btn-get btn-white" type="reset">Cencel</button>
										<button class="btn btn-get" type="submit">Save</button>
									</div>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>
</div>