<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="#" class="main-heading no-arrow">Employer View</a>
		</div>		
	</div>
	<!--/ Header -->
	<div class="white-wrapper">
		<div class="invoice-footer candidate-header">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 col-lg-6">
					<p>Submitted by : <b>TalentSteen</b></p>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right">
					<button type="button" class="btn btn-print waves-effect waves-light">Print</button>
					<button type="button" class="btn btn-print download waves-effect waves-light">Download</button>
					<!--Dropdown primary-->
					<div class="dropdown">
						<!--Trigger-->
						<button class="btn ant-dropdown dropdown-toggle waves-effect" type="button" id="dropdownMenu2"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>

						<!--Menu-->
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Shortlisted</a>
							<a class="dropdown-item" href="#">Interviewed</a>
							<a class="dropdown-item" href="#">Hired</a>
							<a class="dropdown-item" href="#">Rejected</a>
						</div>
					</div>
					<!--/Dropdown primary-->
				</div>
			</div>
		</div>


		<div class="cadidate-wrapper">
			<div class="cadidate-history">
				<h4>Candidate History</h4>
				<ul>
					<li>
						<span>02/01/2020</span>
						<i>:</i>
						<span class="status shortlisted">Shortlisted <small>(This profile was
								shortlisted)</small></span>
					</li>
					<li>
						<span>04/01/2020</span>
						<i>:</i>
						<span class="status interview-stage">Interview Stage <small>(The profiles was scheduled for a
								Face – Face interview with Santhosh Kurichianil - Information Technology on
								05/01/2020)</small></span>
					</li>
					<li>
						<span>12/01/2020 </span>
						<i>:</i>
						<span class="status hired">Hired <small>(The profile was hired for the position of IT
								Manager)</small></span>
					</li>
				</ul>

				<div class="more-less-block" style="display: none;">
					<div class="row">
						<div class="col-sm-12">
							<div class="card cv-view">
								<div class="cv-view-header">
									<div class="cadidate-photo">
										<img src="assets/images/vishal.jpg" alt="Vishal Maheshwari">
									</div>
									<div class="cadidate-name">
										<h3>Vishal Maheshwari</h3>
										<p>Applied for : <b>IT Manager</b></p>
										<p>Indian / Male / Age : <b>35 Yrs</b></p>
										<p>Current Salary (USD): <b>500000</b> | Expected Salary (USD) : <b>700000</b></p>
										<p>Notice Period: <b>30 Days</b> | Willing to relocate: <b>Yes</b></p>
									</div>
								</div>
								<br>
								<h4>Profile</h4>
								<p>Over 10 years’ of progressive experience and career growth in financial planning and analysis in family office, financial services and retail industries. Managing finance and investments of family office, arranging credit facilities, performing financial analysis</p>
								<br>
								<h4>Education</h4>
								<p>2000 : <b>Post Graduate (Specialization)</b></p>
								<p>University :<b>Standford University (USA)</b></p>
								<br>
								<h4>Certifications</h4>
								<p>CCNA, MCSC, PMP</p>
								<br>
								<h4>Key Skills</h4>
								<p>Team Building, Negotiation, Time Management, Quik learner</p>
								<br>
								<h4>Work Experience</h4>
								<div class="row row-eq-height card-wrapper">
									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="emp-hist-card">
											<h5>June 2018 – April 2019</h5>
											<br>
											<p><b>Microsoft</b> <br> Dubai, United Arab Emirates</p>
											<br>
											<p><b>Business Development Manager</b></p>
											<p>Job Function : <b>Information Tehnology</b></p>
										</div>
									</div>
									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="emp-hist-card">
											<h5>June 2018 – April 2019</h5>
											<br>
											<p><b>Microsoft</b> <br> Dubai, United Arab Emirates</p>
											<br>
											<p><b>Business Development Manager</b></p>
											<p>Job Function : <b>Information Tehnology</b></p>
										</div>
									</div>
									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="emp-hist-card">
											<h5>June 2018 – April 2019</h5>
											<br>
											<p><b>Microsoft</b> <br> Dubai, United Arab Emirates</p>
											<br>
											<p><b>Business Development Manager</b></p>
											<p>Job Function : <b>Information Tehnology</b></p>
										</div>
									</div>
									
								</div>

								<br>
								<h4>Overall Responsibilities Handled</h4>
								<ul>
									<li>Setting up entities and Special Investment Vehicles in Dubai mainland, DIFC, freezones, Cayman Islands for various investments of shareholders</li>
									<li>Managing finance and accounting, annual audit, annual compliance and returns of all the entities. Managing accounting of chairman’s personal statements.</li>
									<li>Undertaking P&amp;L and commercial analysis of existing and potential private equity investments for shareholders and assisting CFO with presentations to the shareholders.</li>
									<li>Managing Sukuk and other fixed income portfolio, equities and real estate portfolio of the shareholders.</li>
								</ul>

								<br>
								<h4><b>Others</b></h4>
								<h4>CMS Keynote Project</h4>
								<ul>
									<li>Setting up entities and Special Investment Vehicles in Dubai mainland, DIFC, freezones, Cayman Islands for various investments of shareholders</li>
									<li>Managing finance and accounting, annual audit, annual compliance and returns of all the entities. Managing accounting of chairman’s personal statements.</li>
									<li>Undertaking P&amp;L and commercial analysis of existing and potential private equity investments for shareholders and assisting CFO with presentations to the shareholders.</li>
									<li>Managing Sukuk and other fixed income portfolio, equities and real estate portfolio of the shareholders.</li>
								</ul>

								<hr>

								<div>
									<p class="credit">Powered by : <b>AntLegs</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cta-view">
				<a href="#" class="view-more-less">view more</a>
			</div>
		</div>

	</div>

</div>