<div class="container-fluid ant-container">
    <br>
    <div class="white-wrapper user-header">
        <p class="font-14">Hey Santhosh,</p>
        <p>Welcome to the employer’s Dashboard. We understand this space is new and we are here to help. Just Get
            started with our <span>step by step guide</span></p>
    </div>

    <div class="demo-fixed">
        <div class="row row-eq-height">
            <div class="col-12 col-md-6">
                <div class="white-wrapper">
                    <h1 class="ant-title bold">Trend Analysis</h1>
                    <div class="row">
                        <div class="col-12 col-sm-8">
                            <p class="span">
                                <span>Total Projects : <b>15</b></span>
                                <span>Total Submission : <b>10</b> </span>
                            </p>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="employer-action text-right">
                                <select name="" id="" class="select" required="required">
                                    <option value="">2020</option>
                                    <option value="">2019</option>
                                    <option value="">2018</option>
                                    <option value="">2017</option>
                                    <option value="">2016</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--ul class="candidate-status graph-legend">
                        <li class="shortlisted">Total Projects : 15</li>
                        <li class="interviewed">Total Submission : 10</li>					
                    </ul-->

                    <div class="graph-block">
                        <img src="assets/images/trend-graph.jpg" alt="Graph">
                    </div>


                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="white-wrapper">
                    <div class="row">
                        <div class="col-7 col-sm-8">
                            <p class="ant-title bold">Ant Board</p>
                        </div>
                        <!--div class="col-5 col-sm-4">
                            <div class="employer-action text-right">
                                <select name="" id="" class="select" required="required">
                                    <option value="">Select Employer</option>
                                    <option value="">Microsoft</option>
                                    <option value="">TCS</option>
                                    <option value="">Tech Mahindra</option>
                                </select>
                            </div>
                        </div-->
                    </div>
                    <div class="graph-block">
                        <div id='dashboardCalendar'></div>
                    </div>
                    <div class="rollover" style="display: none;">
                        <div class="rollover-header clearfix">
                            <h4><b>30th Sep, 2019</b> | 12 Interview Scheduled</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="rollover-content">
                            <div class="rollover-list">
                                <ul>
                                    <li>
                                        <span>The job for Marketing Director with Hexaware Technologies has <br> been
                                            closed</span>
                                        <span>09:30 am</span>
                                    </li>
                                    <li>
                                        <span>A new job for Creative Head has been posed by<br> Hexaware
                                            Technologies</span>
                                        <span>09:30 am</span>
                                    </li>
                                    <li>
                                        <span>The job for Marketing Director with Hexaware Technologies has <br> been
                                            closed</span>
                                        <span>09:30 am</span>
                                    </li>
                                    <li>
                                        <span>A new job for Creative Head has been posed by<br> Hexaware
                                            Technologies</span>
                                        <span>09:30 am</span>
                                    </li>
                                    <li>
                                        <span>The job for Marketing Director with Hexaware Technologies has <br> been
                                            closed</span>
                                        <span>09:30 am</span>
                                    </li>
                                    <li>
                                        <span>A new job for Creative Head has been posed by<br> Hexaware
                                            Technologies</span>
                                        <span>09:30 am</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-eq-height">
            <div class="col-12 col-md-6">
                <div class="white-wrapper ra-wrap">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <p class="ant-title bold">Recent Activity</p>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="employer-action text-right">
                                <select name="" id="" class="select" required="required">
                                    <option value="">Employer Name</option>
                                    <option value="">Microsoft</option>
                                    <option value="">TCS</option>
                                    <option value="">Tech Mahindra</option>
                                </select>
                                <select name="" id="" class="select" required="required">
                                    <option value="">Job Name</option>
                                    <option value="">Accounts</option>
                                    <option value="">HR</option>
                                    <option value="">Sale Executive</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="activities-wrapper">
                        <div class="ra-scroll">
                            @@include('./partials/components/recent-activity.hbs')
                        </div>

                        <div class="text-center">
                            <a href="$" class="link">View All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="white-wrapper">
                    <div class="row">
                        <div class="col-5 col-sm-5">
                            <p class="ant-title bold">Projects</p>
                        </div>
                        <div class="col-7 col-sm-7">
                            <div class="employer-action text-right">
                                <select name="" id="" class="select" required="required">
                                    <option value="">Employer Name</option>
                                    <option value="">Microsoft</option>
                                    <option value="">TCS</option>
                                    <option value="">Tech Mahindra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="activities-wrapper">
                        <div class="ra-scroll">
                            @@include('./partials/components/dashboard-projects.hbs')
                        </div>
                        <div class="text-center">
                            <a href="$" class="link">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="coach-overlay">
            <a href="#" class="close-btn"></a>
            <div class="coach-body">

                <h2>Get Started</h2>
                <div class="coach-content">
                    <div class="guide text-center">                        
                        <span>Start using the system by posting a job</span>
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn blue waves-effect">Post Jobs</a>
                    </div>                    

                    <div class="guide-desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde labore obcaecati est ut
                            dolor architecto itaque quos, vitae nam ipsum sequi voluptas distinctio. Hic illum et quasi
                            optio omnis.</p>
                    </div>

                    <div class="group-btn">
                        <a href="#" class="prev">Prev</a>
                        <a href="#" class="next">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>