<ul class="open-job-list projects-list">
	<li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Associate Director - Operations @ Al Employer</b> | </h2>
			</span>			
			<span class="opening-div">
				(No. 7)
			</span>			
			<span class="last-activity text-right">Expires in: <b>70 days</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Markegting & Communications Director</b></h2>
			</span>			
			<span class="opening-div">
				(No. 2)
			</span>			
			<span class="last-activity text-right"><b class="red-text">Expired</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
    <li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Associate Director - Operations @ Al Employer</b> | </h2>
			</span>			
			<span class="opening-div">
				(No. 7)
			</span>			
			<span class="last-activity text-right">Expires in: <b>70 days</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Markegting & Communications Director</b></h2>
			</span>			
			<span class="opening-div">
				(No. 2)
			</span>			
			<span class="last-activity text-right"><b class="red-text">Expired</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
    <li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Associate Director - Operations @ Al Employer</b> | </h2>
			</span>			
			<span class="opening-div">
				(No. 7)
			</span>			
			<span class="last-activity text-right">Expires in: <b>70 days</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		
        <div class="div-table">			
			<span>
				<h2 class="ant-title"><b>Markegting & Communications Director</b></h2>
			</span>			
			<span class="opening-div">
				(No. 2)
			</span>			
			<span class="last-activity text-right"><b class="red-text">Expired</b></span>
		</div>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress: <b>100</b></li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
                    <li>&nbsp;</li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
    
    
    
</ul>