<div class="container-fluid">
    <div class="filter-col"></div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card card-pd" data-toggle="modal" data-target="#basicExampleModal">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <img src="assets/images/employer-logo-1.jpg" alt="Microsoft">
                                <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                            <button type="button" class="btn btn-outline-ant waves-effect">Activated</button>
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card card-pd">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            <!-- <button type="button" class="btn btn-outline-primary waves-effect">Primary</button> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h2 class="card-title">
                        <span class="skeleton-box" style="width:100%;"></span>
                    </h2>
                    <h4 class="card-title">
                        <span class="skeleton-box" style="width:80%;"></span>
                    </h4>
                    <!--Text-->
                    <p class="card-text address">
                        <span class="skeleton-box" style="width:90%;"></span>
                    </p>
                    <a href="#" class="web-link">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </a>
                    <hr>
                    <p class="publish-date">
                        <span class="skeleton-box" style="width:30%;"></span>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card card-pd">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            <!-- <button type="button" class="btn btn-outline-primary waves-effect">Primary</button> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h2 class="card-title">
                        <span class="skeleton-box" style="width:100%;"></span>
                    </h2>
                    <h4 class="card-title">
                        <span class="skeleton-box" style="width:80%;"></span>
                    </h4>
                    <!--Text-->
                    <p class="card-text address">
                        <span class="skeleton-box" style="width:90%;"></span>
                    </p>
                    <a href="#" class="web-link">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </a>
                    <hr>
                    <p class="publish-date">
                        <span class="skeleton-box" style="width:30%;"></span>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card card-pd">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            <!-- <button type="button" class="btn btn-outline-primary waves-effect">Primary</button> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h2 class="card-title">
                        <span class="skeleton-box" style="width:100%;"></span>
                    </h2>
                    <h4 class="card-title">
                        <span class="skeleton-box" style="width:80%;"></span>
                    </h4>
                    <!--Text-->
                    <p class="card-text address">
                        <span class="skeleton-box" style="width:90%;"></span>
                    </p>
                    <a href="#" class="web-link">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </a>
                    <hr>
                    <p class="publish-date">
                        <span class="skeleton-box" style="width:30%;"></span>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card card-pd">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            <!-- <button type="button" class="btn btn-outline-primary waves-effect">Primary</button> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h2 class="card-title">
                        <span class="skeleton-box" style="width:100%;"></span>
                    </h2>
                    <h4 class="card-title">
                        <span class="skeleton-box" style="width:80%;"></span>
                    </h4>
                    <!--Text-->
                    <p class="card-text address">
                        <span class="skeleton-box" style="width:90%;"></span>
                    </p>
                    <a href="#" class="web-link">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </a>
                    <hr>
                    <p class="publish-date">
                        <span class="skeleton-box" style="width:30%;"></span>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card card-pd">
                <!--Card image-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <div class="image-inner">
                                <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span>
                            <!-- <button type="button" class="btn btn-outline-primary waves-effect">Primary</button> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="">
                    <!--Title-->
                    <h2 class="card-title">
                        <span class="skeleton-box" style="width:100%;"></span>
                    </h2>
                    <h4 class="card-title">
                        <span class="skeleton-box" style="width:80%;"></span>
                    </h4>
                    <!--Text-->
                    <p class="card-text address">
                        <span class="skeleton-box" style="width:90%;"></span>
                    </p>
                    <a href="#" class="web-link">
                        <span class="skeleton-box" style="width:60%;"></span>
                    </a>
                    <hr>
                    <p class="publish-date">
                        <span class="skeleton-box" style="width:30%;"></span>
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
    </div>
</div>