<!-- Employer Header -->
<div class="row header">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#" class="main-heading no-arrow">Manage Billing & Payments </a>
    </div>    
</div>
<!--/ Employer Header -->