<div class="row header">
    <div class="col col-sm-6 col-md-6 col-lg-6">
        <a class="main-heading">Manage Employers</a>
    </div>
    <div class="col col-sm-6 col-md-6 col-lg-6 text-right">
        <button class="btn filter-open waves-effect" data-toggle="modal" data-target="#filterOpen">Filter</button>
    </div>
</div>