<div class="container-fluid ant-container">
    @@include('./partials/components/employer-header.hbs')
    <!-- Employer Details -->
    <div class="employer-wrapper card">
        <div class="row">
            <div class="col col-sm-3">
                <div class="employer-logo">
                    <img src="assets/images/employer-logo-1.jpg" alt="Microsoft">
                </div>
                <div class="ant-content">
                    <h5 class="ant-title bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="ant-title">
                        Information Technology
                    </h5>

                    <h5 class="ant-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </h5>
                    <h5 class="ant-title blue-text">Branch Offices</h5>
                    <a href="#" class="ant-title web-link">
                        www.hexagone.com
                    </a>
                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>
            </div>
            <div class="col col-sm-3">
                <div class="contact-details">
                    <h5 class="ant-title bold">Contact Details</h5>
                    <h5 class="ant-title">Santhosh Kurichianil</h5>
                    <h5 class="ant-title">Head Recruitment</h5>
                    <h5 class="ant-title">Human Resources</h5>
                    <h5 class="ant-title">+91 9767783435</h5>
                    <a href="#" class="ant-title web-link">santhosh.kurichianil@gmail.com</a>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="row">
                    <div class="col col-sm-4">
                        <div class="graph-block">
                            <img src="assets/images/graph-circle.jpg" alt="Graph">
                        </div>
                    </div>
                    <div class="col col-sm-8">
                        <p class="ant-title">Overall Summary</p>
                        <p class="ant-title">Job Postings : 100  |  Hirings : 50 (50%)</p>
                        <p class="ant-title">Recruiters Engaged : 100  |  Submissions : 300</p>
                        <p class="ant-title">Current Status</p>
                        <ul>
                            <li>Shortlisted : 100</li>
                            <li>Interviewed : 100</li>
                            <li>Hirings : 100</li>
                            <li>Rejections : 200</li>
                        </ul>
                        <p class="ant-title">Opoen : 50 (50%)  |  On Hold : 20 (50%)  |  Closed : 10 (50%)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Employer Details -->
</div>

@@include('./partials/components/filter-modal.hbs')