<div class="container-fluid ant-container">
    <div class="row header">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a class="main-heading">Manage Employers</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <button class="btn filter-open waves-effect" data-toggle="modal" data-target="#filterOpen">Filter</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#newRegistration">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-1.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-2.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-3.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-4.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-5.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer-logo">
                            <img src="assets/images/employer-logo-6.jpg" alt="Microsoft">
                            <!--span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>
                            <!-- <span class="skeleton-box sb-xl" style="width:100%; height:35px;"></span> -->
                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...
                        <!-- <span class="skeleton-box" style="width:100%;"></span> -->
                    </h5>
                    <h5 class="card-title">
                        Information Technology
                        <!-- <span class="skeleton-box" style="width:80%;"></span> -->
                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...
                        <!-- <span class="skeleton-box" style="width:90%;"></span> -->
                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                        <!-- <span class="skeleton-box" style="width:60%;"></span> -->
                    </p>

                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
    </div>
</div>

@@include('./partials/components/filter-modal.hbs')
@@include('./partials/components/new-registration-modal.hbs')