<div class="container-fluid ant-container">
    @@include('./partials/components/employer-header.hbs')
    <div class="row row-eq-height card-wrapper">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">                            
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-1.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">                            
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-2.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="employers-details.html" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#newRegistration">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-3.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                    </a>
                    <!-- <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                    </p> -->

                                     
                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-4.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-5.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-6.jpg" alt="Microsoft"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content" data-toggle="modal" data-target="#newRegistration">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
    </div>
</div>

@@include('./partials/components/filter-modal.hbs')
@@include('./partials/components/new-registration-modal.hbs')