<div class="container-fluid ant-container">
	<!-- Dashboard Header -->
	<div class="row header">
		<div class="col-12 col-md-5 col-lg-6">
			<a href="index.html" class="main-heading">Dashboard</a>
		</div>
		<div class="col-12 col-md-7 col-lg-6 text-right">
			<ul class="header-button">
				<li>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a href="#" class="btn btn-common active btn-rounded">Main</a>
						<a href="#" class="btn btn-common btn-rounded">EMPLOYER</a>
						<a href="#" class="btn btn-common btn-rounded">RECRUITER</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--/ Dashboard Header -->
	<div class="row row-eq-height">
		<div class="col-12 col-md-6">
			<div class="white-wrapper">
				<h1 class="ant-title bold">Yearly Job Posting Ratios</h1>
				<div class="row">
					<div class="col-12 col-sm-8">
						<p class="span">
							<span>Postings : <b>100</b></span>
							<span>Response : <b>8711</b> </span>
							<span>Recruiters Engaged : <b>67</b></span>
						</p>
					</div>
					<div class="col-12 col-sm-4">
						<div class="employer-action text-right">
							<select name="" id="" class="select" required="required">
								<option value="">2019</option>
								<option value="">2018</option>
								<option value="">2017</option>
								<option value="">2016</option>
							</select>
						</div>
					</div>
				</div>

				<ul class="candidate-status graph-legend">
					<li class="shortlisted">Shortlisted : (20%)</li>
					<li class="interviewed">Interviewed : (40%)</li>
					<li class="hirings">Hirings : (10%)</li>
					<li class="rejections">Rejections : (60%)</li>
				</ul>

				<div class="graph-block">
					<img src="assets/images/graph-1.jpg" alt="Graph">
				</div>

				
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="white-wrapper">
				<div class="row">
					<div class="col-7 col-sm-8">
						<p class="ant-title bold">Quick Actions</p>
					</div>
					<div class="col-5 col-sm-4">
						<div class="employer-action text-right">
							<select name="" id="" class="select" required="required">
								<option value="">Select Employer</option>
								<option value="">Microsoft</option>
								<option value="">TCS</option>
								<option value="">Tech Mahindra</option>
							</select>
						</div>
					</div>
				</div>
				<div class="graph-block">
					<img src="assets/images/calendar.jpg" alt="Graph">
				</div>
				<div class="rollover">
					<div class="rollover-header clearfix">
						<h4><b>30th Sep, 2019</b> | 12 Interview Scheduled</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="rollover-content">
						<div class="rollover-list">
						<ul>
							<li>
								<span>The job for Marketing Director with Hexaware Technologies has <br> been closed</span>
								<span>09:30 am</span>
							</li>
							<li>
								<span>A new job for Creative Head has been posed by<br> Hexaware Technologies</span>
								<span>09:30 am</span>
							</li>
							<li>
								<span>The job for Marketing Director with Hexaware Technologies has <br> been closed</span>
								<span>09:30 am</span>
							</li>
							<li>
								<span>A new job for Creative Head has been posed by<br> Hexaware Technologies</span>
								<span>09:30 am</span>
							</li>
							<li>
								<span>The job for Marketing Director with Hexaware Technologies has <br> been closed</span>
								<span>09:30 am</span>
							</li>
							<li>
								<span>A new job for Creative Head has been posed by<br> Hexaware Technologies</span>
								<span>09:30 am</span>
							</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row row-eq-height">
		<div class="col-12 col-md-6">
			<div class="white-wrapper ra-wrap">
				<div class="row">
					<div class="col-12 col-sm-4">
						<p class="ant-title bold">Recent Activity</p>
					</div>
					<div class="col-12 col-sm-8">
						<div class="employer-action text-right">
							<select name="" id="" class="select" required="required">
								<option value="">Select Employer</option>
								<option value="">Microsoft</option>
								<option value="">TCS</option>
								<option value="">Tech Mahindra</option>
							</select>
							<select name="" id="" class="select" required="required">
								<option value="">Select Jobs</option>
								<option value="">Accounts</option>
								<option value="">HR</option>
								<option value="">Sale Executive</option>
							</select>
						</div>
					</div>
				</div>

				<div class="activities-wrapper">
					<div class="recent-activities">
						@@include('./partials/components/activities-list.hbs')
					</div>

					<div class="text-center">
						<a href="$" class="link">View All</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="white-wrapper">
				<div class="row">
					<div class="col-5 col-sm-5">
						<p class="ant-title bold">Open Jobs</p>
					</div>
					<div class="col-7 col-sm-7">
						<div class="employer-action text-right">
							<select name="" id="" class="select" required="required">
								<option value="">Select Employer</option>
								<option value="">Microsoft</option>
								<option value="">TCS</option>
								<option value="">Tech Mahindra</option>
							</select>
						</div>
					</div>
				</div>
				<div class="activities-wrapper">
					@@include('./partials/components/dashboard-open-jobs.hbs')

					<div class="text-center">
						<a href="$" class="link">View All</a>
					</div>
				</div>
			</div>

			<div class="white-wrapper">
				<div class="row">
					<div class="col-12">
						<p class="ant-title bold">Overall Summary</p>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="overall-summary">
							<div class="row">
								<div class="col-12 col-sm-5">
									<p class="ant-title bold">Employers</p>
									<div class="graph-block">
										<img src="assets/images/graph-circle.jpg" alt="Graph">
									</div>
								</div>
								<div class="col-12 col-sm-7">
									<p class="ant-title">Total : <b>200</b> | New : <b>10</b></p>
									<p class="ant-title">Active</p>
									<p class="ant-title">Non-Active</p>
									<p class="ant-title">De-Activated</p>
									<a href="$" class="link">View All</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="overall-summary">
							<div class="row">
								<div class="col-sm-5">
									<p class="ant-title bold">Jobs</p>
									<div class="graph-block">
										<img src="assets/images/graph-circle.jpg" alt="Graph">
									</div>
								</div>
								<div class="col-sm-7">
									<p class="ant-title">Total : <b>200</b></p>
									<p class="ant-title">Draft : <b>10</b></p>
									<p class="ant-title">Open : <b>10</b></p>
									<p class="ant-title">On Hold : <b>10</b></p>
									<p class="ant-title">Closed : <b>20</b></p>
									<a href="$" class="link">View All</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="overall-summary">
							<div class="row">
								<div class="col-sm-5">
									<p class="ant-title bold">Interviews</p>
									<div class="graph-block">
										<img src="assets/images/graph-circle.jpg" alt="Graph">
									</div>
								</div>
								<div class="col-sm-7">
									<p class="ant-title">Total Intervisws : <b>25</b></p>
									<p class="ant-title">Today : <b>25</b></p>
									<p class="ant-title">Upcoming : <b>25</b></p>
									<p class="ant-title">Completed : <b>25</b></p>
									<p class="ant-title">Cancelled : <b>25</b></p>
									<a href="$" class="link">View All</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="overall-summary">
							<div class="row">
								<div class="col-sm-5">
									<p class="ant-title bold">Invoices</p>
									<div class="graph-block">
										<img src="assets/images/graph-circle.jpg" alt="Graph">
									</div>
								</div>
								<div class="col-sm-7">
									<p class="ant-title">Total Invoices</p>
									<p class="ant-title">New : <b>10</b></p>
									<p class="ant-title">Cleared : <b>10</b></p>
									<p class="ant-title">Pending : <b>10</b></p>
									<a href="$" class="link">View All</a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>