<div class="find-cv-wrapper">
    <div class="container">
        <div class="row no-padding">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <img class="lazy" src="assets/images/find.jpg" data-src="assets/images/find.jpg"
                    alt="AntLegs" />
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="find-content">
                    <h4>Find CVs <span>instantly</span> </h4>
                    <p>Finding a matching CV for a client is challenging enough. Searching for that CV across multiple locations like your Inbox, your laptop and your shared folders is far more challenging. Antlegs puts everything in a single searchable database - using a powerful search engine, it makes it a breeze to find a CV in your database.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>