<div class="head">
	<div class="container">
		<div class="head-center">
			<div class="header">
				<h1>Intelligently <span>automate</span> your talent <span>acquisition journey</span></h1>
				<h4>Register with us and make the recruitment process on just a click of a button.</h4>
				<!--a href="$" class="btn btn-get">Get Started</a-->
			</div>

			<div class="re-action">
				<div class="row">
					<div class="col-sm-6">
						<div class="re-box">
							<h4>Recruiters</h4>
							<p>Post Jobs, View Responses, Hire Professionals Pay & More...</p>
							<a href="#" class="btn btn-get">Register</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="re-box re-employers">
							<h4>Employers</h4>
							<p>Post Jobs, View Responses, Hire Professionals Pay & More...</p>
							<a href="#" class="btn btn-get">Register</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>