<head>
	<div class="head">
		<div class="container">
			<div class="head-center">
				<div>
					<h1>The easiest way to <span>recruit</span> your desired <span>candidate.</span></h1>
					<h4>Register with us and make the recruitment process of candidates on just a click of a button.</h4>
					<a href="$" class="btn btn-get">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</head>