<!-- Interview Schedule Modal -->
<div class="modal fade" id="verificationDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-justification" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hiring Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ism-body vd-body">
                <div class="id-content">
                    <div class="ant-content">
                        <!--Title-->
                        <p class="text-center">
                            Please enter the date of joining and the final salary below
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 col-sm-5">
                            <div class="ant-content">
                                <p class="bold">Final Salary Offered (INR / Year) </p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Final Salary Offered (INR / Year)</label>
                                <input type="text" name="salary" id="salary" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="ant-content">
                                <p class="bold">Date of Joining</p>
                            </div>
                            <div class="form-group custom-control-inline date-box">
                                <label class="sr-only">Date</label>
                                <div class="im-select">
                                    <select name="" id="" class="select" required="required">
                                        <option value="">Feb</option>
                                        <option value="">Jan</option>
                                        <option value="">Mar</option>
                                        <option value="">Apr</option>
                                    </select>
                                    <select name="" id="" class="select" required="required">
                                        <option value="">01</option>
                                        <option value="">02</option>
                                        <option value="">03</option>
                                        <option value="">04</option>
                                    </select>
                                    <select name="" id="" class="select" required="required">
                                        <option value="">2020</option>
                                        <option value="">2019</option>
                                        <option value="">2018</option>
                                        <option value="">2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="docs-form">
                        <div class="ant-content">
                            <p class="text-16 bold">List of documents to be submitted to roll out the offer</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Passport
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Driving License
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">National IDs (Adhaar
                                        Card / Pan Card)
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Post Graduate
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Degree / Diploma
                                        Certificates
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Salary Slip
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Others
                                    </label>
                                </div>
                                <form class="other-Details">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group custom-control-inline">
                                                <label class="sr-only">Others</label>
                                                <!-- <input type="checkbox" class="form-control checkbox" id="Others"
                                                    checked> -->
                                                <input type="text" class="form-control" value="Others, please specify">
                                                <span class="add-other-input" title="Add input box">+</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                    <br>
                    <hr>
                     <div class="row">
                        <div class="col-12 col-sm-5">
                            <div class="ant-content">
                                <p class="bold">Last date to submit the documents</p>
                            </div>                            
                        </div>
                        <div class="col-12 col-sm-7">                            
                            <div class="form-group custom-control-inline date-box">
                                <label class="sr-only">Date</label>
                                <div class="im-select">
                                    <select name="" id="" class="select" required="required">
                                        <option value="">Feb</option>
                                        <option value="">Jan</option>
                                        <option value="">Mar</option>
                                        <option value="">Apr</option>
                                    </select>
                                    <select name="" id="" class="select" required="required">
                                        <option value="">01</option>
                                        <option value="">02</option>
                                        <option value="">03</option>
                                        <option value="">04</option>
                                    </select>
                                    <select name="" id="" class="select" required="required">
                                        <option value="">2020</option>
                                        <option value="">2019</option>
                                        <option value="">2018</option>
                                        <option value="">2017</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-big btn-blue waves-effect">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Interview Schedule Modal -->