<!-- Filter Modal -->
<div class="modal fade" id="hiringsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hirings">
                <h5 class="modal-title" id="exampleModalLabel">hirings (20)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="candidate-list">
                    <div class="candidate-name bold">
                        Candidate Name
                    </div>
                    <div class="last-activity bold">
                        Last Activity
                    </div>
                </div>
                <div class="candidate-wrapper">
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                    <div class="candidate-list">
                        <div class="candidate-name">
                            Vikas Sugathan
                        </div>
                        <div class="last-activity">
                            hirings 04/08/2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-big" data-dismiss="modal">Close</button>
                <!--button type="button" class="btn btn-primary">Save changes</button-->
            </div>
        </div>
    </div>
</div>
<!-- /Filter Modal -->