<!-- Interview Details Modal -->
<div class="modal fade" id="interviewDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Interview Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="id-content">
                    <div class="employer-logo">
                        <img class="lazy" src="assets/images/sample-logo.jpg"
                            data-src="assets/images/employer-logo-1.jpg" alt="Microsoft" />
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="ant-content">
                                <!--Title-->
                                <p class=" bold">
                                    Hexagone Technologies Private Li...
                                </p>
                                <p class=" address">
                                    Indra Nagar, LBS Marg, Bangalore...
                                </p>
                                <!--Text-->
                                <p class=" bold">
                                    Santhosh Kurichianil
                                </p>
                                <p class="">
                                    Python Developer
                                </p>
                                <br>
                                <p class=" bold">
                                    Interview Details
                                </p>
                                <p class="">
                                    Santhosh Kurichianil
                                </p>
                                <p class="">
                                    Project Manager (Information Technology)
                                </p>
                                <p class="">
                                    +91 99877676
                                </p>
                                <br>
                                <p class=" bold">
                                    Recruiter
                                </p>
                                <p class="">
                                    TalentSheen
                                </p>
                                <p class="">
                                    Arshad Mehta +91 8987763234
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="ant-content">
                                <!--Title-->
                                <p class="bold">
                                    Mode : Skype
                                </p>
                                <p class="bold">
                                    Interview Slots
                                </p>

                                <ul class="time-slots">
                                    <li>08/30/19 | 04:30pm</li>
                                    <li>09/12/19 | 02:30pm</li>
                                    <li>09/16/19 | 09:30am</li>
                                </ul>
                                <br>
                                <p class="bold">
                                    Venue Details
                                </p>
                                <p class="">
                                    Banglore Office, <br> 39, 2nd floor, NGFT Lane, <br> Indra Nagar, Banglore, 587000
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Interview Details Modal -->