<!-- Interview Schedule Modal -->
<div class="modal fade" id="interviewSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Interview Schedule</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ism-body">
				<div class="id-content">
					<div class="employer-logo">
						<img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-1.jpg"
							alt="Microsoft" />
					</div>
					<div class="ant-content">
						<!--Title-->
						<p class="text-16">
							Compay : <b>Microsoft Incorporation</b>
						</p>
						<hr>
						<p class="text-16">
							Job Opening : <b>Cyber Security Manager</b>
						</p>
						<br>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<!--Title-->
								<p>
									<b>Interview Mode</b>
								</p>

								<div class="im-select">
									<select name="" id="" class="select" required="required">
										<option value="">Face to Face</option>
										<option value="">Video Calling</option>
										<option value="">Sky Call</option>
										<option value="">Mobile</option>
									</select>
								</div>

							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<!--Title-->
								<p class="bold">
									Interview Slots
								</p>
								<ul class="interview-slots">
									<li>Wednesday, <b>20/02/2020</b> | <b>13:00</b> Hrs <a href="#">Confirm</a></li>
									<li>Wednesday, <b>20/02/2020</b> | <b>13:00</b> Hrs <a href="#">Confirm</a></li>
									<li>Wednesday, <b>20/02/2020</b> | <b>13:00</b> Hrs <a href="#">Confirm</a></li>
								</ul>
								<br>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">Interview Details</p>
							</div>
							<div class="card-body">
								<form autocomplete="off" class="form" role="form">
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Interviewer</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="Mr. Michael Pinto" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Designation</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="Chief Technology Officer" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Email</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="micheael.pinto@netsoft.com" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Contact</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="+91 9543328784" disabled>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">Venue Details</p>
							</div>

							<div class="card-body">
								<form autocomplete="off" class="form" role="form">
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Branch</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="Avenue Park" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Location</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="Chennai, India" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Contact</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="+91 887265452" disabled>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Location Map</label>
										<div class="col-lg-8">
											<input class="form-control" type="text" value="http://maps.google.co.in/embed..." disabled>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Cancel Interview</button>
					<button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Suggest Schedule</button>
				</div>

				<div class="cancel-block">
					<div class="ant-content">
						<p class="bold">Cancel Interview</p>
					</div>
					<form class="">
						<div class="row">
							<div class="col-12">
								<div class="form-group custom-control-inline">
									<label class="sr-only">Reason 1</label>
									<input type="checkbox" class="form-control checkbox" id="Reason1">
									<input type="text" class="form-control" value="Reason 1" disabled>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group custom-control-inline">
									<label class="sr-only">Reason 1</label>
									<input type="checkbox" class="form-control checkbox" id="Reason2" checked>
									<input type="text" class="form-control" value="Reason 2">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group custom-control-inline">
									<label class="sr-only">Reason 1</label>
									<input type="checkbox" class="form-control checkbox" id="Reason3">
									<input type="text" class="form-control" value="Reason 3" disabled>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label class="sr-only">Reason 1</label>									
									<input type="text" class="form-control" value="Others">
								</div>
							</div>
						</div>
						
						<div class="cancel-cta">
							<button type="reset" class="btn btn-big waves-effect">Discard</button>
							<button type="submit" class="btn btn-big waves-effect">Cancel Interview</button>
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Interview Schedule Modal -->