<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-5 col-sm-6 col-md-6 col-lg-3">
			<a href="#" class="main-heading">Verification Details</a>
		</div>
		<div class="col-7 col-sm-6 col-md-6 col-lg-9 text-right">			
			<button class="btn btn-print waves-effect" data-toggle="modal" data-target="#verificationDetails">Interview Details</button>
		</div>

	</div>
	<!--/ Header -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card cv-view">
				<div class="cv-view-header">
					<div class="cadidate-photo">
						<img src="assets/images/user-photo.jpg" alt="Santhosh Kamurichianil">
					</div>
					<div class="cadidate-name">
						<h3>Santhosh Kamurichianil</h3>
						<p>Applied for: Senior Software Engineer</p>
					</div>
				</div>
				<hr>
				<p><span> Indian / Male / YOB : </span> <b>1977</b></p>
				<p><span>Current Salary : </span> <b>USD 50000 PA</b></p>
				<p><span>Expected Salary : </span> <b>USD 75000</b></p>
				<p><span>Notice Period : </span> <b>90 Days</b></p>
				<p><span>Current Location : </span> <b>Bangalore, Karnataka, India</b></p>
				<p><span>Willing to Relocate : </span> <b>Yes</b></p>
				<hr>
				<h4>Profile</h4>
				<p>Develops products by identifying potential products; conducting market research; generating product
					requirements; determining specifications, production timetables, pricing, and time-integrated plans
					for product introduction; developing marketing strategies. Develops products by identifying
					potential products; conducting market research; generating product requirements; determining
					specifications, production timetables, pricing, and time-integrated plans for product introduction;
					developing marketing strategies.</p>
				<hr>
				<h4>Education</h4>
				<p>2002: Masters (Computer Science) <br> Mahatma Gandhi University – Kerala, India</p>
				<hr>
				<h4>Certifications</h4>
				<p>CCNA, MCSC, PMP</p>
				<hr>
				<h4>Core Competencies</h4>
				<p>Competency 1, Competency 2</p>
				<hr>
				<h4>Employement History</h4>
				<div class="row row-eq-height card-wrapper">
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="emp-hist-card">
							<h5>June 2018 – April 2019</h5>
							<p>Microsoft - Dubai, United Arab Emirates</p>
							<p>Business Development Manager</p>
							<p>Reporting to: Director</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="emp-hist-card">
							<h5>June 2018 – April 2019</h5>
							<p>Microsoft - Dubai, United Arab Emirates</p>
							<p>Business Development Manager</p>
							<p>Reporting to: Director</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="emp-hist-card">
							<h5>June 2018 – April 2019</h5>
							<p>Microsoft - Dubai, United Arab Emirates</p>
							<p>Business Development Manager</p>
							<p>Reporting to: Director</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
						<div class="emp-hist-card">
							<h5>June 2018 – April 2019</h5>
							<p>Microsoft - Dubai, United Arab Emirates</p>
							<p>Business Development Manager</p>
							<p>Reporting to: Director</p>
						</div>
					</div>
				</div>

				<hr>
				<h4>Overall Responsibilities Handled</h4>
				<ul>
					<li>Responsibility 1</li>
					<li>Responsibility 2</li>
					<li>Responsibility 3</li>
				</ul>

				<hr>
				<h4>Others</h4>
				<p>Training</p>

				<hr>
				<h4>Foward</h4>
				<form class="form-inline" action="/action_page.php">
					<label for="email" class="sr-only">Email address:</label>
					<input type="email" class="form-control" id="email" placeholder="enter email address">
					<button type="submit" class="btn btn-get waves-effect waves-light">Send</button>
				</form>

				<div class="text-right">
					<p class="credit">Powered by : <b>AntLegs</b></p>
				</div>
			</div>
		</div>
	</div>
</div>

@@include('./partials/components/interview-details-modal-v2.hbs')