<!-- Interview Schedule Modal -->
<div class="modal fade" id="verificationDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-justification" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Interview Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ism-body vd-body id-body">
                <div class="id-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="id-warning">A reschedule request has been initiated by Talentsteen</div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-res">Re-Scheduled</button>
                        </div>
                    </div>
                    <div class="ant-content">
                        <p>
                            Job Opening : Marketing & Communication Manager
                        </p>
                        <p>
                            Candidate : Freddy George Fernandez
                        </p>
                        <p>
                            Level : Level 1 (Technical)
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <div class="ant-content">
                                <p><b>Interview Schedule</b> (Level 1 : <b>Technical</b>)</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Mode</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time Range</th>
                                    <th scope="col">Time Zone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>In-Person</td>
                                    <td>25th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>In-Person</td>
                                    <td>26th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>In-Person</td>
                                    <td>27th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>

                    <div class="docs-form">
                        <div class="ant-content">
                            <p class="text-16 bold">Documents required for verification </p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Passport
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Pancard
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">10th Certificate
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">12th Certificate
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Graduate
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Post Graduate
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Driving Licence
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="">Salary Slip
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ant-content">
                        <p class="text-16 bold">Other Details</p>
                    </div>
                    <form class="other-Details">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group custom-control-inline">
                                    <label class="sr-only">Others</label>
                                    <input type="checkbox" class="form-control checkbox" id="Others" checked>
                                    <input type="text" class="form-control" value="Others, please specify"> <span
                                        class="add-other-input" title="Add input box">+</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-big btn-blue waves-effect">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Interview Schedule Modal -->