<!-- Interview Schedule Modal -->
<div class="modal fade" id="interviewReschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Interview Schedule</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ism-body">
				<div class="id-content">
					<div class="employer-logo">
						<img class="lazy" src="assets/images/employer-logo-1.jpg" alt="Microsoft" style="">
					</div>
					<div class="ant-content">
						<!--Title-->
						<p class="text-16">
							Employer : <b>Microsoft Incorporation</b>
						</p>
						<p class="text-16">
							Position : <b>Head of Information Technology</b>
						</p>
						<p class="text-16">
							Candidate Name : <b>Michael Paul</b>
						</p>
						<br>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ant-content">
								<!--Title-->
								<p>
									<b>Interview Mode</b>
								</p>
							</div>
						</div>
					</div>
					<div class="schedule-address-list">
						<div class="row row-eq-height card-wrapper">
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<div class="">Interview Mode : Telephone</div>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<p>Date : Tue 20 August, 2020</p>
									<p>Time : 11:15 AM</p>
									<p>Duration : 50 mins</p>
									<br>
									<p><b>Interviewer</b></p>
									<p>Santhosh Mathew</p>
									<p>Head of Information Technology</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<div class="">Interview Mode : Telephone</div>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<p>Date : Wed 21 August, 2020</p>
									<p>Time : 11:15 AM</p>
									<p>Duration : 50 mins</p>
									<br>
									<p><b>Interviewer</b></p>
									<p>Santhosh Mathew</p>
									<p>Head of Information Technology</p>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<div class="">Interview Mode : Telephone</div>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<p>Date : Thu 22 August, 2020</p>
									<p>Time : 11:15 AM</p>
									<p>Duration : 50 mins</p>
									<br>
									<p><b>Interviewer</b></p>
									<p>Santhosh Mathew</p>
									<p>Head of Information Technology</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">
									Venue Details
								</p>
								<p class="bold">
									Antlegs Technology
								</p>
								<p class="">
									B/7676, 247 Park, Gandi Nagar, <br> Cuffe Parade, Europe
								</p>
								<p>Location Map: <a href="#">http://maps.google.co.in/embed...</a></p>
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">
									Contact Details
								</p>
								<p>
									Contact Person : Santhosh Mathew
								</p>
								<p>
									Contact Number : 8998767232
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-big waves-effect chooseSchedule"
						data-schedule-id="cancelInterview2">Cancel Interview</button>
					<button type="button" class="btn btn-big waves-effect chooseSchedule"
						data-schedule-id="suggestReschedule">Re-Schedule</button>
					<button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Confirm & Share</button>
				</div>
				<div class="cancel-block" id="cancelInterview2">
					<form class="">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label class="sr-only">Reason 1</label>
									<textarea class="form-control" name="reason" id="reason" cols="3" rows="2"
										placeholder="Kindly specify the reason for cancellation"></textarea>
								</div>
							</div>
						</div>

						<div class="cancel-cta">
							<button type="reset" class="btn btn-big waves-effect" data-dismiss="modal">Discard</button>
							<button type="submit" class="btn btn-big waves-effect">Cancel Interview</button>
						</div>
					</form>
				</div>
				<div class="cancel-block reschedule-block" id="suggestReschedule">

					<div class="row">
						<div class="col-12 col-sm-3">							
							<div class="form-group">
								<div class="input-group date" id='datetimepicker2'>
									<input type="text" class="form-control" placeholder="Date">
									<div class="input-group-addon input-group-append">
										<span class="input-group-text">
											<span class="calendar"></span>
										</span>
									</div>
								</div>
							</div>							
						</div>
						<div class="col-12 col-sm-3">
							<div class="form-group">
								<label class="sr-only">Select Time Range</label>
								<div class="im-select">
									<select name="" id="" class="select" required="required">
										<option value="">Time Range</option>
										<option value="">10:00AM</option>
										<option value="">10:30Am</option>
										<option value="">01:00PM</option>
										<option value="">02:00PM</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label class="sr-only">Select Interview Mode</label>
								<div class="im-select">
									<select name="" id="" class="select" required="required">
										<option value="">Interview Mode</option>
										<option value="">Video Call</option>
										<option value="">Face to Face</option>
										<option value="">Mobile Call</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-2">
							<a href="#" class="btn btn-big btn-add waves-effect">+ Add</a>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-12">
							<div class="ant-content ss-cont">
								<ul class="interview-slots step">
									<li>Telephonic Interview Scheduled on <b>12/05/2020</b> | At <b>12:00</b> hrs & duration of <b>60
											mins</b> <a href="#"><i class="trash"></i> Delete</a></li>
									<li>Telephonic Interview Scheduled on <b>12/05/2020</b> | At <b>14:00</b> hrs & duration of <b>60
											mins</b> <a href="#"><i class="trash"></i> Delete</a></li>
								</ul>
								<br>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="sr-only">Reason</label>
								<input type="text" class="form-control" placeholder="Kindly specify the reason for the re-scheduling">
							</div>
						</div>
					</div>


					<div class="cancel-cta">
						<button type="reset" class="btn btn-big waves-effect" data-dismiss="modal">Discard</button>
						<button type="submit" class="btn btn-big waves-effect">Re-Schedule</button>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Interview Schedule Modal -->