<!-- Interview Schedule Modal -->
<div class="modal fade" id="verificationDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-justification" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Interview Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ism-body vd-body id-body">
                <div class="id-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="id-warning">A reschedule request has been initiated by Talentsteen</div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-res">Re-Scheduled</button>
                        </div>
                    </div>
                    <div class="ant-content">
                        <p>
                            Job Opening : Marketing & Communication Manager
                        </p>
                        <p>
                            Candidate : Freddy George Fernandez
                        </p>
                        <p>
                            Level : Level 1 (Technical)
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <div class="ant-content">
                                <p><b>Interview Schedule</b> (Level 1 : <b>Technical</b>)</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Mode</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time Range</th>
                                    <th scope="col">Time Zone</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td scope="row">1</td>
                                    <td>In-Person</td>
                                    <td>25th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Asia/Kolkata</td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value="" checked> &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>In-Person</td>
                                    <td>26th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Asia/Kolkata</td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value=""> &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>In-Person</td>
                                    <td>27th Oct, 2020</td>
                                    <td>
                                        <div class="im-select">
                                            <select name="" id="" class="select" required="required">
                                                <option value="">09:00 - 13:00 hrs</option>
                                                <option value="">13:00 - 15:00 hrs</option>
                                                <option value="">15:00 - 17:00 hrs</option>
                                                <option value="">17:00 - 18:00 hrs</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Asia/Kolkata</td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value=""> &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row">
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">
									Interviewer Details
								</p>
                                <hr>								
								<p class="">
									Marketing & Communication Manager
								</p>
                                <p><a href="#"><span class="fa fa-plus"></span> Add <b>more</b> Interviewer</a> </p>
								<p><a href="#"><span class="fa fa-plus"></span> Add <b>new</b> Interviewer</a> </p>
                                <div class="card-body">
								<form autocomplete="off" class="form" role="form">
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Full Name</label>
										<div class="col-lg-8">
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Designation</label>
										<div class="col-lg-8">
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Job Function</label>
										<div class="col-lg-8">
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Contact No.</label>
										<div class="col-lg-8">
											<input class="form-control" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label form-control-label">Email</label>
										<div class="col-lg-8">
											<input class="form-control" type="exmail">
										</div>
									</div>
								</form>
							</div>
                                
							</div>
                            <br>
                            <div class="ant-content">
								<p class="bold">
									Other Details
								</p>
                                <hr>	
                                <ul class="od-list">
                                    <li>Transportation Provided</li>
                                    <li>Hotel Stay Provided</li>
                                </ul>							
								<p>
                                    <a href="#" class="cha-loc">Edit</a>
                                </p>
                                
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="ant-content">
								<p class="bold">
									Venue Details
								</p>
                                <hr>
								<ol class="add-list">
                                    <li>301/312, Indira Park, Bangalore, <br> Karnataka, India</li>
                                    <li>12/31, Gandhi Park, Cochi, <br> Kerala, India</li>
                                </ol>
								<div class="location-list">
									<a href="#">Location Map 1  </a>
									<a href="#">Location Map 2  </a>
								</div>
                                <p>
                                    <a href="#" class="cha-loc">Change Location</a>
                                </p>
                                <p>
                                    <a href="#"><span class="fa fa-plus"></span> Add Location</a>
                                </p>
							</div>
						</div>
					</div>
                    
                    <div class="note-caution">
                        <p><b>Note: </b>You can cancel or reschedule the interview only 12 hours before the confirmed schedule. <br> Otherwise please contact Antlegs support team +91 9543328231</p>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Cancel Interview</button>
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Request Reschedule</button>
                    <button type="button" class="btn btn-big btn-blue waves-effect">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Interview Schedule Modal -->