<div class="container-fluid ant-container">
    <!-- Interviews Header -->
    <div class="row header">
        <div class="col-12 col-md-5 col-lg-6">
            <a href="index.html" class="main-heading">Manage Interviews</a>
        </div>
        <div class="col-12 col-md-7 col-lg-6 text-right">
            <ul class="header-button">   
                <li>
                    <button class="btn filter-open waves-effect" data-toggle="modal" data-target="#filterOpen">Filter</button>
                </li>             
                <li>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="interviews-calendar.html" class="btn btn-common btn-rounded">Calendar</a>
                        <a href="interviews-details.html" class="btn btn-common active btn-rounded">Details</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--/ Interviews Header -->
    
    <div class="row row-eq-height card-wrapper">
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
        @@include('./partials/components/interviews-new-request-card.hbs')
    </div>
    
</div>

@@include('./partials/components/recruiter-filter-modal.hbs')
@@include('./partials/components/interview-details-modal.hbs')

