<div class="col">
	<!--Card-->
	<div class="card ant-card" data-toggle="modal" data-target="#newRegistration">
		<div class="row">
			<div class="col col-sm-6">
				<p>Inv. No. : <b>#AL2232112</b></p>
			</div>
			<div class="col col-sm-6">
				<div class="employer-action text-right">
					<button type="button" class="btn btn-new waves-effect">New</button>
				</div>
			</div>
		</div>
		<br>
		<!--Card content-->
		<div class="ant-content">
			<!--Title-->
			<h5 class="card-title card-bold">
				Software Engineer
			</h5>
			<h5 class="card-title">
				Candidate : <b>Santhosh Mathew</b>
			</h5>
			<br>
			<!--Text-->
			<p class="card-title">
				Hired On : <b>15/01/2020</b>
			</p>
			<p class="card-title">
				Joining Date : <b>01/02/2020</b>
			</p>
			<p class="card-title">
				Invoice Amount (USD) : <b>12,00,000</b>
			</p>
		</div>

		<div class="ant-footer">
			<hr>
			<p class="publish-date">
				<span>2 days ago</span>
				<!--Aug 16, 2019-->
				<!-- <span class="skeleton-box" style="width:30%;"></span> -->
			</p>
		</div>

	</div>
	<!--/.Card-->
</div>