<!-- invoice details modal -->
<div class="modal fade" id="invoiceDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Invoice Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="invoice-wrapper">
					<div class="row">
						<div class="col-sm-12">
							<div class="invoice-details">
								<img class="logo" src="assets/images/antlegs-logo.png" alt="Antlegs">
								<p>Invoice No: <b>028 – 090120</b></p>
								<p>Invoice Date: <b>09 / 01 / 2020</b></p>
								<p>Mode of Payment: <b>NEFT</b></p>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="client-details">
								<p>To,</p>
								<p><b>CherryRoad Services India Private Limited</b></p>
								<address>Bangalore, Karnataka, India - 560066</address>
								<p class="gst">GST No : <b>29AAHCC2092G12L</b></p>
							</div>
						</div>

						<div class="col-sm-12">
							<br>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Description</th>
											<th>HSN / SAC</th>
											<th>Taxable Value</th>
											<th>IGST</th>
											<th>Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<b>Recruitment Fees</b>
												<p>Candidate: Kavya SH</p>
												<p>Fixed Annual Salary: INR 750,000</p>
												<p>Fees: 8.33% of Annual Fixed Salary</p>
											</td>
											<td>998512</td>
											<td>62475</td>
											<td>18% of taxable value</td>
											<td>11246</td>
										</tr>
										<tr>
											<td colspan="4">&nbsp;</td>
											<td>11246</td>
										</tr>
										<tr>
											<td colspan="4" align="right"><b>Value of Service</b></td>
											<td>62475</td>
										</tr>
										<tr>
											<td colspan="4" align="right"><b>Total</b></td>
											<td><b>73721</b></td>
										</tr>
										<tr>
											<td colspan="5">IN WORDS : <b>INR SEVENTY THREE THOUSAND SEVEN HUNDRED AND TWENTY ONE ONLY</b>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="invoice-bank-details">
								<p><b>Bank Details</b></p>
								<p><span>Account Name :</span> AntLegs HR & IT Consultancy Private Limited</p>
								<p><span>Bank Name :</span> Indus Ind</p>
								<p><span>IFSC Code :</span> 259544038492</p>
								<p><span>Account No :</span> INDB0000223</p>
								<p><span>Branch :</span> Thippasandra, Bangalore - Karnataka</p>
							</div>
						</div>

						<div class="col-sm-12">
							<hr>
						</div>
						<div class="col-sm-12">
							<div class="invoice-footer">
								<div class="row">
									<div class="col-sm-6">
										<p>Powered by : <b>Antlegs</b></p>
									</div>
									<div class="col-sm-6 text-right">
										<button type="button" class="btn btn-print">Print</button>
										<button type="button" class="btn btn-print download">Download</button>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ invoice details modal -->