<!-- Interview Schedule Modal -->
<div class="modal fade" id="interviewReschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Interview Schedule</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ism-body">
				<div class="id-content">
					<div class="ant-content">
						<!--Title-->
						<p class="text-16">
							Position : <b>Head of Information Technology</b>
						</p>
						<p class="text-16">
							Candidate Name : <b>Michael Paul</b>
						</p>
						<br>
						<p>
							<b>Reason for Re-Scheduling</b>
						</p>
						<p class="text-12">
							The candidate was not comfortable with the suggested slots.
						</p>
						<br>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ant-content">
								<!--Title-->
								<p>
									<b>Interview Mode</b> <small>(Select any one date from below) </small>
								</p>
							</div>
						</div>
					</div>
					<div class="schedule-address-list">
						<div class="row row-eq-height card-wrapper">
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<p>Re-Schedule requested by the recruiter for a Telephonic Interview between <b>09:00 - 12:00 hrs
													on Wednesday, 06/05/2020</b></p>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<hr>
									<p><b>Select time to re-schedule</b></p>
									<div>
										<label class="sr-only">Select Time</label>
										<div class="im-select">
											<select name="" id="" class="select" required="required">
												<option value="">Select Time</option>
												<option value="">10:00AM</option>
												<option value="">10:30Am</option>
												<option value="">01:00PM</option>
												<option value="">02:00PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<p>Re-Schedule requested by the recruiter for a Telephonic Interview between <b>08:00 - 11:00 hrs
													on Wednesday, 08/05/2020</b></p>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<hr>
									<p><b>Select time to re-schedule</b></p>
									<div>
										<label class="sr-only">Select Time</label>
										<div class="im-select">
											<select name="" id="" class="select" required="required">
												<option value="">Select Time</option>
												<option value="">10:00AM</option>
												<option value="">10:30Am</option>
												<option value="">01:00PM</option>
												<option value="">02:00PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
								<div class="emp-hist-card">
									<div class="row">
										<div class="col-10">
											<p>Re-Schedule requested by the recruiter for a Telephonic Interview between <b>09:30 - 12:30 hrs
													on Wednesday, 09/05/2020</b></p>
										</div>
										<div class="col-2">
											<input type="checkbox" class="sc-checkbox">
										</div>
									</div>
									<hr>
									<p><b>Select time to re-schedule</b></p>
									<div>
										<label class="sr-only">Select Time</label>
										<div class="im-select">
											<select name="" id="" class="select" required="required">
												<option value="">Select Time</option>
												<option value="">10:00AM</option>
												<option value="">10:30Am</option>
												<option value="">01:00PM</option>
												<option value="">02:00PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="text-center">
						<button type="button" class="btn btn-big btn-ci waves-effect" data-dismiss="modal">Confirm Interview</button>
					</div>

				</div>
			</div>
			<div class="modal-footer ise-footer">
				<p class="text-center text-bold text-14 action-text">Still want to re-schedule new date, time and interview mode?</p>
				<br>
				<div class="text-center">
					<button type="button" class="btn btn-big waves-effect chooseSchedule"
						data-schedule-id="suggestReschedule" title="Still want to re-schedule new date, time and interview mode?">Re-Schedule</button>
					<button type="button" class="btn btn-big waves-effect chooseSchedule"
						data-schedule-id="cancelInterview2" title="Still want to cancel the interview?">Cancel Interview</button>
				</div>

				<div class="cancel-block reschedule-block" id="suggestReschedule">

					<div class="row">
						<div class="col-12 col-sm-3">
							<div class="form-group">
								<div class="input-group date" id='datetimepicker2'>
									<input type="text" class="form-control" placeholder="Select Date">
									<div class="input-group-addon input-group-append">
										<span class="input-group-text">
											<span class="calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-3">
							<div class="form-group">
								<label class="sr-only">Select Time Range</label>
								<div class="im-select">
									<select name="" id="" class="select" required="required">
										<option value="">Time Range</option>
										<option value="">10:00AM</option>
										<option value="">10:30Am</option>
										<option value="">01:00PM</option>
										<option value="">02:00PM</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group">
								<label class="sr-only">Select Interview Mode</label>
								<div class="im-select">
									<select name="" id="" class="select" required="required">
										<option value="">Interview Mode</option>
										<option value="">Video Call</option>
										<option value="">Face to Face</option>
										<option value="">Mobile Call</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-2">
							<a href="#" class="btn btn-big btn-add waves-effect">+ Add</a>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-sm-12">
							<div class="ant-content ss-cont">
								<ul class="interview-slots step">
									<li>Telephonic Interview Scheduled on <b>12/05/2020</b> | At <b>12:00</b> hrs & duration of <b>60
											mins</b> <a href="#"><i class="trash"></i> Delete</a></li>
									<li>Telephonic Interview Scheduled on <b>12/05/2020</b> | At <b>14:00</b> hrs & duration of <b>60
											mins</b> <a href="#"><i class="trash"></i> Delete</a></li>
								</ul>
								<br>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="sr-only">Reason</label>
								<input type="text" class="form-control" placeholder="Kindly specify the reason for the re-scheduling">
							</div>
						</div>
					</div>


					<div class="cancel-cta">
						<button type="reset" class="btn btn-big waves-effect" data-dismiss="modal">Discard</button>
						<button type="submit" class="btn btn-big waves-effect">Re-Schedule</button>
					</div>


				</div>

				<div class="cancel-block" id="cancelInterview2">
					<form class="">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label class="sr-only">Reason 1</label>
									<textarea class="form-control" name="reason" id="reason" cols="3" rows="2"
										placeholder="Kindly specify the reason for cancellation"></textarea>
								</div>
							</div>
						</div>

						<div class="cancel-cta">
							<button type="reset" class="btn btn-big waves-effect" data-dismiss="modal">Discard</button>
							<button type="submit" class="btn btn-big waves-effect">Cancel Interview</button>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- /Interview Schedule Modal -->