<div class="container-fluid ant-container">
    @@include('./partials/components/jobs-header.hbs')
    <div class="row row-eq-height recuiters-list card-wrapper">        
        @@include('./partials/components/jobs-draft-card.hbs')
        @@include('./partials/components/jobs-draft-sample-logo-card.hbs')
        @@include('./partials/components/jobs-draft-sample-logo-card.hbs')
        @@include('./partials/components/jobs-draft-card.hbs')
        @@include('./partials/components/jobs-draft-card.hbs')
        @@include('./partials/components/jobs-draft-sample-logo-card.hbs')
        @@include('./partials/components/jobs-draft-sample-logo-card.hbs')
        @@include('./partials/components/jobs-draft-card.hbs')
    </div>
</div>

@@include('./partials/components/recruiter-filter-modal.hbs')
@@include('./partials/components/recruiter-new-registration-modal.hbs')