<div class="container-fluid ant-container">
    <!-- Employer Header -->
    <div class="row header">
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <a href="#" class="main-heading">Manage Jobs</a>
        </div>
    </div>
    <!--/ Employer Header -->
    <!-- Employer responseDetails -->
    <div class="employer-wrapper card">
        <div class="row">
            <div class="col col-sm-6">
                <h5 class="ant-title bold">
                    Director Marketing & Communications
                </h5>
            </div>
            <div class="col col-sm-6 text-right">
                <h5 class="ant-title">
                    Status : <b>Open</b>
                </h5>
            </div>
        </div>
        <div class="job-history more-less-block">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <div class="ant-content">
                    <br>
                    <h5 class="ant-title ">
                        Sr. Producd Designer
                    </h5>
                    <h5 class="ant-title address">
                        Banglore, India
                    </h5>
                    <p class="ant-title">
                        Openings : <b>10 </b> | <b>View JD</b>
                    </p>
                    <br>
                    <p class="ant-title">
                        Max Salary Offered (USD) : <b>40,000</b>
                    </p>
                    <p class="ant-title">
                        Reward Offered (USD) : <b>2,000</b>
                    </p>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="graph-block">
                            <img src="assets/images/graph-circle.jpg" alt="Graph">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <p class="ant-title bold">Overall Summary</p>
                        <p class="ant-title">Recruiters Engaged : <b>10</b></p>
                        <p class="ant-title">Total Submissions : <b>30</b></p>
                        <br>
                        <ul class="candidate-status">
                            <li class="shortlisted">Shortlisted : <b>100 (50%)</b></li>
                            <li class="interviewed">Interviewed : <b>50 (50%) </b></li>
                            <li class="hirings">Hirings : <b>20 (20%)</b></li>
                            <li class="rejections">Rejections : <b>200 (75%)</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job History -->
        
            <div class="row">
                <div class="col-12">
                    <div class="ant-content">
                        <h5 class="ant-title bold">
                            Job History
                        </h5>
                        <br>
                        <p class="ant-title">
                            <b>12/01/2020 </b>: The job was drafted
                        </p>
                        <p class="ant-title">
                            <b>14/01/2020</b> : The job was opened to Recruiters
                        </p>
                        <p class="ant-title">
                            <b>16/01/2020</b> : The job was closed
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="ant-footer">
                    <p class="publish-date">
                        <span>Opened On :</span> <b>5 days ago</b>
                    </p>
                </div>
            </div>
            <div class="col-6 text-right">
                <a href="#" class="view-more-less">view more</a>
            </div>
        </div>
    </div>
    <!-- /Employer Details -->


    <!-- new Header -->
    <div class="row header invoice-header">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <a href="index.html" class="main-heading">New <small>(10)</small></a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right">
            <button class="btn blue waves-effect" data-toggle="modal" data-target="#filterOpen">SUMMARY</button>
            <button class="btn blue filter-open waves-effect" data-toggle="modal"
                data-target="#filterOpen">Filter</button>
            <!--Dropdown primary-->
            <div class="dropdown">
                <!--Trigger-->
                <button class="btn ant-dropdown dropdown-toggle waves-effect" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>

                <!--Menu-->
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Shortlisted</a>
                    <a class="dropdown-item" href="#">Interviewed</a>
                    <a class="dropdown-item" href="#">Hired</a>
                    <a class="dropdown-item" href="#">Rejected</a>
                </div>
            </div>
            <!--/Dropdown primary-->
        </div>
    </div>
    <!--/ new Header -->

    <!-- /manage job -->
    <div class="row row-eq-height card-wrapper invoice-card-slider">
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
    </div>
    <!-- manage job -->

    <!-- new Header -->
    <div class="row header invoice-header">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="index.html" class="main-heading">Interviewed <small>(10)</small></a>
        </div>
    </div>
    <!--/ new Header -->

    <!-- /manage job -->
    <div class="row row-eq-height card-wrapper invoice-card-slider">
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
        @@include('./partials/components/jobs-hire-card-2.hbs')
    </div>
    <!-- manage job -->
</div>

@@include('./partials/components/filter-modal.hbs')
@@include('./partials/components/new-registration-modal.hbs')
@@include('./partials/components/warning-modal.hbs')