<!-- invoice details modal -->
<div class="modal fade" id="editBranch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg edit-branch" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Manage Profile - Edit Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="edit-details-wrapper">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="form-antlegs add-job-form">
									<form autocomplete="off" class="form" role="form">
										<div class="row">
											<div class="col-12 col-md-12">
												<div class="form-group">
													<label for="inputName" class="sr-only">Job Title*</label>
													<input class="form-control c-name" id="inputName" type="text" value="Antlegs Technology Solutions Private Limited">
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Industry</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="Information Technology">
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Location</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="Bangaluru">
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Web</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="www.antlegs.com">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Contact Person</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="Santhosh Mathew">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Designation</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="Founder">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Contact No</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="+91 899 376 5454">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Email</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="santhosh@antlegs.com">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="form-group last-group text-center">
													<button class="btn btn-get btn-white waves-effect waves-light" type="reset">Discard</button>
													<button class="btn btn-get waves-effect waves-light" type="submit">Update</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="alert alert-success">
					Profile Details updated successfully! 
				</div>


			</div>
		</div>
	</div>
</div>
<!--/ invoice details modal -->