<!-- invoice details modal -->
<div class="modal fade" id="addBranch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg edit-branch" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Manage Profile  - Add Branch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="edit-details-wrapper">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="form-antlegs add-job-form">
									<form autocomplete="off" class="form" role="form">
										<div class="row">											
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class=""><b>Add Branch Details</b></label>
														</div>
														<div class="col-12 col-md-8">
															<select class="form-control select">
																	<option value="">Select Country</option>
																	<option value="">India</option>
																	<option value="">USA</option>
																	<option value="">UK</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="sr-only"><b>Add Branch Details</b></label>
														</div>
														<div class="col-12 col-md-8">
															<select class="form-control select">
																	<option value="">Select City</option>
																	<option value="">Mumbai</option>
																	<option value="">Pune</option>
																	<option value="">Hydrabad</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Company Name</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="Antlegs Technology Solutions Private Limited">
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Address</label>
														</div>
														<div class="col-12 col-md-8">
															<textarea class="form-control" id="inputName" type="text" rows="5" placeholder="Enter Branch location here: Eg: B/7676, 247 Park, Gandi Nagar, Cuffe Parade, Mumbai, India"></textarea>
														</div>
													</div>
												</div>
											</div>

											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Phone Number</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control" id="inputName" type="text" value="+91 233 445 6767">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<div class="form-group">
													<div class="row">
														<div class="col-12 col-md-4">
															<label for="inputName" class="">Location Map</label>
														</div>
														<div class="col-12 col-md-8">
															<input class="form-control link" id="inputName" type="text" value="http://maps.google.co.in/embed...">
														</div>
													</div>
												</div>
											</div>											
											<div class="col-12">
												<div class="form-group last-group text-center">
													<button class="btn btn-get btn-white waves-effect waves-light" type="button" data-dismiss="modal" aria-label="Close">Discard</button>
													<button class="btn btn-get waves-effect waves-light" type="submit">Update</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="alert alert-success">
					Branch added successfully! 
				</div>


			</div>
		</div>
	</div>
</div>
<!--/ invoice details modal -->