<div class="container-fluid ant-container">
    <!-- change password Header -->
    <div class="row header">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#" class="main-heading no-arrow">Manage Profile</a>
        </div>
    </div>
    <!--/ change password Header -->

    <div class="white-wrapper">
        <div class="mp-wrapper">
            <div class="row">
                <div class="col-12">
                    <img class="logo" src="assets/images/antlegs-logo.png" alt="Antlegs">
                </div>
            </div>

            <div class="pd-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <div class="profile-details">
                                        <h3>Antlegs Technology Solutions Private Limited</h3>
                                        <p><span>Industry</span> <i>:</i> Information Technology</p>
                                        <p><span>Location</span> <i>:</i> Bangaluru</p>
                                        <p><span>Web</span> <i>:</i> <a href="#" target="_blank">www.antlegs.com</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="profile-details">
                                        <p><span>Contact Person</span> <i>:</i> Information Technology</p>
                                        <p><span>Designation</span> <i>:</i> Bangaluru</p>
                                        <p><span>Contact No</span> <i>:</i> <a href="tel:+918993765454">+91 899 376
                                                5454</a>
                                        </p>
                                        <p><span>Email</span> <i>:</i> <a
                                                href="mailto:santhosh@antlegs.com">santhosh@antlegs.com</a></p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button type="button" class="btn btn-big btn-edit waves-effect">Edit</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="branches-wrapper">
                <h6>Branches</h6>

                <ul>
                    @@include('./partials/components/branch-list.hbs')
                    @@include('./partials/components/branch-list.hbs')
                    @@include('./partials/components/branch-list.hbs')
                    @@include('./partials/components/branch-list.hbs')
                </ul>
            </div>
        </div>
    </div>
</div>