<!-- Filter Modal -->
<div class="modal fade" id="newRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Registration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="employer-logo">
							<img src="assets/images/sample-logo.jpg" alt="Microsoft">

						</div>
						<div class="ant-content">

							<h5 class="ant-title bold">
								Hexagone Technologies Private Li...

							</h5>
							<h5 class="ant-title">
								Information Technology
							</h5>

							<h5 class="ant-title address">
								Indra Nagar, LBS Marg, Bangalore...

							</h5>
							<a href="#" class="ant-title web-link">
								www.hexagone.com
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h5 class="ant-title bold">Contact Details</h5>
						<h5 class="ant-title">Santhosh Kurichianil</h5>
						<h5 class="ant-title">Head Recruitment</h5>
						<h5 class="ant-title">Human Resources</h5>
						<h5 class="ant-title">+91 9767783435</h5>
						<a href="#" class="ant-title web-link">
							santhosh.kurichianil@gmail.com
							<!-- <span class="skeleton-box" style="width:60%;"></span> -->
						</a>
					</div>
				</div>
				<div class="file-upload">
					<h5 class="ant-title"><span class="bold">Upload Your Company Logo:</span></span> <span>(Format : JPEG,
							PNG, BMP or GIF and size not exceeding 2MB)</span></h5>
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile01"
								aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-big blue waves-effect" data-dismiss="modal">Activate</button>
				<button type="button" class="btn btn-big waves-effect">Delet</button>
			</div>
		</div>
	</div>
</div>
<!-- /Filter Modal -->