<div class="container-fluid ant-container">
    <!-- Billing & Payments Header -->
    <div class="row header">
        <div class="col-7 col-sm-6 col-md-6 col-lg-6">
            <a href="index.html" class="main-heading">Manage Billing & Payments</a>
        </div>
        <div class="col-5 col-sm-6 col-md-6 col-lg-6 text-right">
            <ul class="header-button">
                <li>
                    <!--Dropdown primary-->
                    <div class="dropdown">
                        <!--Trigger-->
                        <button class="btn ant-dropdown ad-big dropdown-toggle waves-effect" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Sort</button>

                        <!--Menu-->
                        <div class="dropdown-menu">
                            <a class="dropdown-item waves-effect" href="#">New</a>
                            <a class="dropdown-item waves-effect" href="#">Cleared</a>
                            <a class="dropdown-item waves-effect" href="#">Pending</a>
                            <a class="dropdown-item waves-effect" href="#">Cancelled</a>
                        </div>
                    </div>
                    <!--/Dropdown primary-->
                </li>
                <li>
                    <button class="btn filter-open waves-effect" data-toggle="modal"
                        data-target="#filterOpen">Filter</button>
                </li>
                <li>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-common active btn-rounded">EMPLOYER</a>
                        <a href="#" class="btn btn-common btn-rounded">RECRUITER</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--/ Billing & Payments Header -->
    <div class="row row-eq-height">
        <div class="col col-sm-8">
            <div class="white-wrapper">
                <div class="row">
                    <div class="col col-sm-6">
                        <h1 class="ant-title bold">Hirings for the period Jan - Dec, 2019</h1>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <select name="" id="" class="select" required="required">
                                <option value="">2019</option>
                                <option value="">2018</option>
                                <option value="">2017</option>
                                <option value="">2016</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="graph-block">
                    <img src="assets/images/graph.jpg" alt="Graph">
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="white-wrapper ant-tab">
                <ul class="nav nav-tabs nav-justified md-tabs" id="myTabJust" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
                            aria-controls="home-just" aria-selected="true">Reward & Points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab"
                            aria-controls="profile-just" aria-selected="false">Invoices</a>
                    </li>
                </ul>
                <div class="tab-content card pt-4" id="myTabContentJust">
                    <div class="tab-pane fade show active" id="home-just" role="tabpanel"
                        aria-labelledby="home-tab-just">
                        <p class="ant-title">Total Rewards (USD): <b>200000</b></p>
                        <p class="ant-title">Total Points : <b>20000</b></p>
                        <br>
                        <p class="ant-title">Membership Level : <b>Premium</b></p>
                        <br>
                        <div class="rating">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"> </span>
                            <span class="fas fa-star"> </span>
                            <span class="fas fa-star-half-alt"> </span>
                            <span class="far fa-star"> </span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
                        <div class="invoice-tab-pane">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="graph-block">
                                        <img src="assets/images/graph-circle-2.jpg" alt="Graph">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p class="ant-title nsa">Invoices Received : <b>20</b></p>
                                    <p class="ant-title nsa">New Invoices :<b>2100</b></p>
                                    <ul class="candidate-status">
                                        <li class="hirings">Invoices Cancelled :<b>20</b></li>
                                        <li class="shortlisted">Invoices Cleared : <b>10</b></li>
                                        <li class="rejections">Rejections : <b>200 (50%)</b></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height card-wrapper">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-1.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-2.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="employers-details.html" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#newRegistration">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-3.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com
                    </a>
                    <!-- <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)
                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)
                    </p> -->


                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-4.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-activated waves-effect">Activated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-5.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            <div class="card ant-card" data-toggle="modal" data-target="#basicExampleModal">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="employer-logo">
                            <img class="lazy" src="assets/images/sample-logo.jpg"
                                data-src="assets/images/employer-logo-6.jpg" alt="Microsoft" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="employer-action text-right">
                            <button type="button" class="btn btn-new waves-effect">New</button>

                        </div>
                    </div>
                </div>
                <!--Card content-->
                <div class="ant-content" data-toggle="modal" data-target="#newRegistration">
                    <!--Title-->
                    <h5 class="card-title card-bold">
                        Hexagone Technologies Private Li...

                    </h5>
                    <h5 class="card-title">
                        Information Technology

                    </h5>
                    <!--Text-->
                    <p class="card-title address">
                        Indra Nagar, LBS Marg, Bangalore...

                    </p>
                    <a href="#" class="card-title web-link">
                        www.hexagone.com

                    </a>
                    <p class="font-xs">
                        Job Postings : 100 | Hirings : 50 (50%)

                    </p>
                    <p class="font-xs">
                        Open : 50 (50%) | On-Hold : 20 (50%)

                    </p>
                    <p class="font-xs">
                        Closed : 10 (50%)

                    </p>

                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> Aug 16, 2019
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <!--Card-->
            @@include('./partials/components/skeleton-card-loading.hbs')
            <!--/.Card-->
        </div>
    </div>
</div>

@@include('./partials/components/recruiter-filter-modal.hbs')
@@include('./partials/components/new-registration-modal.hbs')