<!-- Interview Schedule Modal -->
<div class="modal fade show" id="rateCadidate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Antlegs Rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-14 text-center">Antlegs rating for the profile <b>Santhosh Kurichanil</b> for the position of <b>Marketing Manager</b></p>
                <div class="rate-candi-block">
                    <!--h4>Employer Rating Skills</h4-->
                    <div class="rating-groups">
                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Data Analysis</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="7" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Search Engine Optimization</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="4" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Artificial Intelligence</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="9" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Data Analysis</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="7" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Search Engine Optimization</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="4" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rating-list">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5>Artificial Intelligence</h5>
                                </div>
                                <div class="col-md-7">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <div class="hand dislike">0</div>
                                        </div>
                                        <div class="col-8">
                                            <input class="rating" id="" data-slider-id='ratingSlider' type="text"
                                                data-slider-min="0" data-slider-max="10" data-slider-step="1"
                                                data-slider-value="9" />
                                        </div>
                                        <div class="col-2">
                                            <div class="hand like">10</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="modal-footer ise-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-big btn-blue waves-effect" modal="dismiss">Rate</button>
                </div>
            </div-->
        </div>
    </div>
</div>
<!-- /Interview Schedule Modal -->