<ul class="ra-list">
    <li>
        <span>Nov 30, 2020</span>
        <span><a href="#">Interview Re-Scheduled</a>, request sent for Rajendra Reddy to AL Employer for the role of
            Front End Developer</span>
    </li>
    <li>
        <span>Nov 26, 2020</span>
        <span><a href="#">Interview Confirmed (Level 1)</a>, request sent for Rajendra Reddy to AL
            Employer for the role of Front End Developer</span>
    </li>
    <li>
        <span>Nov 20, 2020</span>
        <span><a href="#">Interview Re-Scheduled</a>, request sent for Rajendra Reddy to AL Employer for the role of
            Front End Developer</span>
    </li>
    <li>
        <span>Nov 16, 2020</span>
        <span><a href="#">Interview Confirmed (Level 1)</a>, request sent for Rajendra Reddy to AL
            Employer for the role of Front End Developer</span>
    </li>
    <li>
        <span>Nov 30, 2020</span>
        <span><a href="#">Interview Re-Scheduled</a>, request sent for Rajendra Reddy to AL Employer for the role of
            Front End Developer</span>
    </li>
    <li>
        <span>Nov 26, 2020</span>
        <span><a href="#">Interview Confirmed (Level 1)</a>, request sent for Rajendra Reddy to AL
            Employer for the role of Front End Developer</span>
    </li>
    <li>
        <span>Nov 20, 2020</span>
        <span><a href="#">Interview Re-Scheduled</a>, request sent for Rajendra Reddy to AL Employer for the role of
            Front End Developer</span>
    </li>
    <li>
        <span>Nov 16, 2020</span>
        <span><a href="#">Interview Confirmed (Level 1)</a>, request sent for Rajendra Reddy to AL
            Employer for the role of Front End Developer</span>
    </li>

</ul>