<div class="col">
    <div class="card ant-card">
        <div class="row">
            <div class="col col-sm-6">
                <div class="employer-logo">
                    <img class="lazy" src="assets/images/employer-logo-1.jpg" alt="Microsoft" style="">
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-open btn-apply waves-effect">Apply</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Director of Sales
            </h5>
            <h5 class="card-title">
                HFI Information Technology
            </h5>
            <h5 class="card-title">
                Indra Nagar, LBS Marg, Bangalore
            </h5>
            <br>
            <p class="ant-title">
               www.hexagone.com
            </p>
            <br>
            <hr>
            <p class="publish-date">
                <span>Posted on:</span> <b>Aug 16, 2019     </b>
            </p>
        </div>

    </div>
</div>