<div class="col-sm-6 col-md-4 col-lg-3">
    <!--Card-->
    <div class="card ant-card" data-toggle="modal" data-target="#newRegistration">
        <div class="row">
            <div class="col col-sm-6">
                @@include('./partials/components/star-rating.hbs')   
            </div>
            <div class="col col-sm-6">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-new waves-effect">New</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title"><b>TalentSteen</b> (Premium Recruiter)</h5>
            <h5 class="card-title">Bangalore, Karnataka, India</h5>
            <!--Text-->
            <p class="card-title">Information Technology, Banking & Finance</p>
            <br>
            <p class="font-xs">Santhosh Kurichianil : <b>+91 9854433432</b></p>
            <p class="font-xs">LinkeIn : <a href="#" class="blue-text"><b>https://www.linkedin.com/sant...</b></a></p>
        </div>
        <div class="ant-footer">
            <hr>
            <p class="publish-date">
                <span>Activated on:</span> Aug 16, 2019
                <!-- <span class="skeleton-box" style="width:30%;"></span> -->
            </p>
        </div>
    </div>
    <!--/.Card-->
</div>