<div class="col-sm-6 col-md-4 col-lg-3">
    <!--Card-->
    <div class="card ant-card">
        <div class="row">
            <div class="col col-sm-6">
                <div class="employer-logo">
                    <img src="assets/images/employer-logo-1.jpg" alt="Microsoft">
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-open waves-effect">Open</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Director Marketing & Communic...
            </h5>
            <h5 class="card-title">
                Dubai, United Arab Emirates
            </h5>
            <br>
            <p class="ant-title">
                Recruiters Engaged : <b>20</b>
            </p>
            <p class="ant-title">
                Total Responses : <b>100</b>
            </p>
            <ul class="responses-list">
                <li class="shortlisted">20</li>
                <li class="interviewed">12</li>
                <li class="hirings">10</li>
                <li class="rejections">08</li>
            </ul>
            <p class="publish-date">
                <span>Posted on:</span> 4 days ago                
            </p>
        </div>

    </div>
    <!--/.Card-->
</div>