<div class="col-sm-6 col-md-4 col-lg-3">
    <!--Card-->
    <div class="card ant-card activated-recruiter" id="skeletonBox2">
        <div class="row">
            <div class="col col-sm-6">
                @@include('./partials/components/star-rating.hbs')   
            </div>
            <div class="col col-sm-6">                
                <div class="employer-action text-right">
                    <!-- <button type="button" class="btn btn-activated waves-effect">Activated</button> -->
                    <span class="skeleton-box sb-xl" style="height:16px;"></span>
                </div>
            </div>
        </div>
        @@include('./partials/components/recruiter-card-content.hbs')
    </div>
    <!--/.Card-->
</div>