<!--Card content-->
<div class="ant-content">
    <!--Title-->
    <h5 class="card-title"><b>TalentSteen</b> (Premium Recruiter)</h5>
    <h5 class="card-title">Bangalore, Karnataka, India</h5>
    <!--Text-->
    <p class="card-title">Information Technology, Banking & Finance</p>
    <br>
    <p class="font-xs">Projects : <b>100</b> | Placements : <b>10 (50%)</b></p>
    <p class="font-xs">Rewards (USD) : <b>200,000</b> | Points : <b>20,000</b></p>
</div>
<div class="ant-footer">
    <hr>
    <p class="publish-date">
        <span>Activated on:</span> Aug 16, 2019
        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
    </p>
</div>