<div class="container-fluid ant-container">
    <!-- Employer Header -->
    <div class="row header">
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <a href="recruiters-details.html" class="main-heading">Manage Employers</a>
        </div>        
    </div>
    <!--/ Employer Header -->
    <!-- Employer Details -->
    <div class="employer-wrapper card">
        <div class="row">
            <div class="col col-sm-6">
                @@include('./partials/components/star-rating.hbs')   
            </div>
            <div class="col col-sm-6 text-right">
                <!--Dropdown primary-->
                <div class="dropdown">
                    <!--Trigger-->
                    <button class="btn ant-dropdown dropdown-toggle waves-effect" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Active</button>

                    <!--Menu-->
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <!--/Dropdown primary-->
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6 col-md-3">
                <div class="ant-content">
                    <h5 class="ant-title bold">
                        <b>TalentSteen</b> (Premium Recruiter)
                    </h5>
                    <h5 class="ant-title">
                        Bangalore, Karnataka, India 
                    </h5>
                    <br>
                    <h5 class="ant-title address">
                        Information Technology, Banking & Finance, Healthcare
                    </h5>
                    <br>                    
                </div>
                <div class="ant-footer">
                    <hr>
                    <p class="publish-date">
                        <span>Activated on:</span> <b>Aug 16, 2019</b>
                        <!-- <span class="skeleton-box" style="width:30%;"></span> -->
                    </p>
                </div>
            </div>
            <div class="col col-sm-6 col-md-3">
                <div class="contact-details">
                    <h5 class="ant-title bold">Contact Details</h5>
                    <h5 class="ant-title">Santhosh Kurichianil</h5> 
                    <h5 class="ant-title">+91 9767783435</h5>
                    <a href="#" class="ant-title web-link">santhosh.kurichianil@gmail.com</a>
                    <h5 class="ant-title">LinkedIn : <a href="#">https://www.linkedin.com/jo...</a></h5>
                    <a href="#" class="web-link">Bank Details</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="graph-block">
                            <img src="assets/images/graph-circle.jpg" alt="Graph">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <p class="ant-title bold">Overall Summary</p>
                        <p class="ant-title">Total Projects: <b>10</b> | Total Submissions : <b>300</b></p>
                        <p class="ant-title">Rewards (USD) : <b>200,000</b> |  Points : <b>20,000</b></p>
                        <ul class="candidate-status">
                            <li class="shortlisted">Shortlisted : <b>100 (50%)</b></li>
                            <li class="interviewed">Interviewed : <b>100 (50%)</b></li>
                            <li class="hirings">Hirings : <b>100 (50%)</b></li>
                            <li class="rejections">Rejections : <b>200 (50%)</b></li>
                        </ul>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Employer Details -->

    <!-- Sort by -->
    <div class="sort-by">
        <div class="row">
            <div class="col col-sm-12 text-right">
                <!--Dropdown primary-->
                <div class="dropdown">
                    <!--Trigger-->
                    <button class="btn ant-dropdown dropdown-toggle waves-effect" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>

                    <!--Menu-->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Draft</a>
                        <a class="dropdown-item" href="#">Open</a>
                        <a class="dropdown-item" href="#">On Hold</a>
                        <a class="dropdown-item" href="#">Closed</a>
                    </div>
                </div>
                <!--/Dropdown primary-->
            </div>
        </div>
    </div>
    <!-- /Sort by -->

    <!-- /manage job -->
    <div class="manage-job">
        <div class="row card-wrapper">
            @@include('./partials/components/recruiters-open-card.hbs')
            @@include('./partials/components/recruiters-open-card.hbs')
            @@include('./partials/components/recruiters-open-card.hbs')
            @@include('./partials/components/recruiters-open-card.hbs')
        </div>
    </div>
    <!-- manage job -->
</div>