<div class="container-fluid ant-container">
    @@include('./partials/components/recruiters-header.hbs')
    <div class="row row-eq-height recuiters-list card-wrapper">        
        @@include('./partials/components/recruiter-activated.hbs')
        @@include('./partials/components/recruiter-deactivated.hbs')
        @@include('./partials/components/recruiter-skeleton-card-loading.hbs')
        @@include('./partials/components/recruiter-skeleton-card-loading.hbs')
        @@include('./partials/components/recruiter-activated.hbs')
        @@include('./partials/components/recruiter-deactivated.hbs')
        @@include('./partials/components/recruiter-skeleton-card-loading.hbs')
        @@include('./partials/components/recruiter-skeleton-card-loading.hbs')
    </div>
</div>

@@include('./partials/components/filter-modal.hbs')
@@include('./partials/components/recruiter-new-registration-modal.hbs')