<div class="col-sm-6 col-md-4 col-lg-3">
<!-- skeleton card loading -->
<div class="card ant-card new-recruiter" id="skeletonBox2" data-toggle="modal" data-target="#newRegistration">
  <div class="row">
    <div class="col col-sm-6">
      @@include('./partials/components/star-rating.hbs')
    </div>
    <div class="col col-sm-6">
      <div class="employer-action text-right">
        <!-- <button type="button" class="btn btn-activated waves-effect">Activated</button> -->
        <span class="skeleton-box sb-xl" style="height:16px;"></span>
      </div>
    </div>
  </div>
  <!--Card content-->
  <div class="ant-content">
    <h5 class="card-title recruiter-name">
      <!--<b>TalentSteen</b> (Premium Recruiter) -->
      <span class="skeleton-box sb-lg"></span>      
    </h5>
    <h5 class="card-title recruiter-address">
      <!--Bangalore, Karnataka, India -->
      <span class="skeleton-box sb-md"></span>
    </h5>
    <p class="card-title company-type">
      <!-- Information Technology, Banking & Finance -->
      <span class="skeleton-box sb-xl"></span>
    </p>
    <br>
    <p class="font-xs pp">
      <!-- Projects : <b>100</b> | Placements : <b>10 (50%)</b> -->
      <span class="skeleton-box sb-md" style="height:6px;"></span>
    </p>
    <p class="font-xs rp">
      <!-- Rewards (USD) : <b>200,000</b> | Points : <b>20,000</b> -->
      <span class="skeleton-box sb-lg" style="height:6px;"></span>
    </p>
  </div>
  <div class="ant-footer">
    <hr>
    <p class="publish-date">
      <!-- <span>Activated on:</span> Aug 16, 2019 -->
      <span class="skeleton-box sb-md"></span>
    </p>
  </div>
</div>
<!--/.skeleton card loading-->
</div>