<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <!--Card-->
    <div class="card ant-card">
        <div class="row">
            <div class="col col-sm-12">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-open btn-outline waves-effect">Redeem</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Hexaware Technologies
            </h5>
            <h5 class="card-title">
                Chennai, India
            </h5>
            <br>
            <div class="reward-trophy">
                <p>Reward (USD) :  <b>2000</b></p>
                <p>Points :  <b>1000</b></p>
            </div>            
        </div>

    </div>
    <!--/.Card-->
</div>