<!-- Interview Schedule Modal -->
<div class="modal fade" id="rewardStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-justification" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bank Details - Reward Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body rs-body">
                <h2>Congratulations!</h2>

                <div class="text-center">
                    <img src="../assets/images/rewards-badge.png" alt="reward" class="reward-badge">
                </div>

                <h3>You are rewarded by Antlegs</h3>
                <p class="earn-reward"><span>Points </span> : <b>23,332</b></p>
                <p class="earn-reward"><span>Reward Amount</span> : <b>$ 12,332</b></p>
                <br><br>
                <div class="text-center">
                    <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Close</button>
                </div>             


            </div>
        </div>
    </div>
</div>
<!-- /Interview Schedule Modal -->