<!-- skeleton card loading -->
<div class="card ant-card" id="skeletonBox" data-toggle="modal" data-target="#newRegistration">
  <div class="row">
    <div class="col-sm-6">
      <div class="employer-logo">
        <!-- <img src="assets/images/employer-logo-1.jpg" alt="Microsoft"> -->
        <span class="skeleton-box sb-xl" style="height:30px;"></span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="employer-action text-right">
        <!-- <button type="button" class="btn btn-outline-ant waves-effect">Activated</button> -->
        <span class="skeleton-box sb-xl" style="height:30px;"></span>
      </div>
    </div>
  </div>
  <!--Card content-->
  <div class="ant-content">
    <!--Title-->
    <h5 class="card-title card-bold">
      <!-- Hexagone Technologies Private Li... -->
      <span class="skeleton-box sb-xl"></span>
    </h5>
    <h5 class="card-title emp-name">
      <!-- Information Technology -->
      <span class="skeleton-box sb-lg"></span>
    </h5>
    <!--Text-->
    <p class="card-title emp-address">
      <!-- Indra Nagar, LBS Marg, Bangalore... -->
      <span class="skeleton-box sb-xl"></span>
    </p>
    <a href="#" class="card-title web-link">
      <!-- www.hexagone.com -->
      <span class="skeleton-box sb-md"></span>
    </a>
    <p class="font-xs posting">
      <!-- Job Postings : 100 | Hirings : 50 (50%) -->
      <span class="skeleton-box sb-lg" style="height:6px;"></span>
    </p>
    <p class="font-xs open">
      <!-- Open : 50 (50%) | On-Hold : 20 (50%) -->
      <span class="skeleton-box sb-md" style="height:6px;"></span>
    </p>
    <p class="font-xs closed">
      <!-- Closed : 10 (50%) -->
      <span class="skeleton-box sb-sm" style="height:6px;"></span>
    </p>

    <hr>
    <p class="publish-date">
      <!-- <span>Activated on:</span> Aug 16, 2019 -->
      <span class="skeleton-box sb-xs"></span>
    </p>
  </div>

</div>
<!--/.skeleton card loading-->