<div class="rating">
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half-alt"></span>
    <span class="far fa-star"></span>
</div>