<div class="testimonial-wrapper">
    <div class="container">
        <div class="testimonial-item">
            <div class="testimonial-block">
                <div class="testimonial-photo">
                    <img class="lazy" src="assets/images/photo-blur-1.jpg" data-src="assets/images/photo-1.jpg"
                            alt="sing in" />
                </div>
                <div class="testimonial-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <h6>Mridula Boumik</h6>
                    <p>Cheif Executive Officer</p>
                    <p>Ace Technologies</p>
                </div>
            </div>
        </div>
    </div>
</div>