<div class="why-antlegs-wrapper">
	<div class="container">
		<div class="text-center">
			<h4 class="home-heading bold">Why Antlegs?</h4>
		</div>
	</div>
	<ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-employers-tab" data-toggle="pill" href="#pillsEmployers" role="tab"
				aria-controls="pills-employers" aria-selected="true">Employers</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-eecruiters-tab" data-toggle="pill" href="#pillsRecruiters" role="tab"
				aria-controls="pills-recruiters" aria-selected="false">Recruiters</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pillsEmployers" role="tabpanel" aria-labelledby="pills-employers-tab">
			<div class="yellow-tab-content">
				<div class="container">
					<ul class="row employers-feature">
						<li class="col-lg postcard">
							<h4>Post Job</h4>
							<p>Post a job and set the referral reward</p>
						</li>
						<li class="col-lg eye">
							<h4>View Response</h4>
							<p>View quality resumes sourced by recruiters</p>
						</li>
						<li class="col-lg briefcase">
							<h4>Hire</h4>
							<p>Track the progress of each job posted through Antlegs dashboard</p>
						</li>
						<li class="col-lg money">
							<h4>Pay</h4>
							<p>After a successful hire, the employer release the reward to Antlegs</p>
						</li>
					</ul>
					<img class="lazy" src="assets/images/employer-screenshot.png" data-src="assets/images/employer-screenshot.png"
						alt="AntLegs">
				</div>
			</div>

		</div>
		<div class="tab-pane fade" id="pillsRecruiters" role="tabpanel" aria-labelledby="pills-recruiters-tab">
			<div class="yellow-tab-content">
				<div class="container">
					<ul class="row employers-feature">
						<li class="col-lg postcard">
							<h4>Post Job</h4>
							<p>Post a job and set the referral reward</p>
						</li>
						<li class="col-lg eye">
							<h4>View Response</h4>
							<p>View quality resumes sourced by recruiters</p>
						</li>
						<li class="col-lg briefcase">
							<h4>Hire</h4>
							<p>Track the progress of each job posted through Antlegs dashboard</p>
						</li>
						<li class="col-lg money">
							<h4>Pay</h4>
							<p>After a successful hire, the employer release the reward to Antlegs</p>
						</li>
					</ul>
					<img class="lazy" src="assets/images/employer-screenshot.png" data-src="assets/images/employer-screenshot.png"
						alt="AntLegs">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="nic">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<h1>No Infrastructure Cost</h1>
			</div>
			<div class="col-12 col-sm-6 light">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore
					magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus
					vel
					facilisis. </p>
			</div>
		</div>
	</div>
</div>