<ul class="activities-list">
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>
	<li>
		<span>Aug 31, 2019</span>
		<span> <a href="#">Submit</a></span>
		<span>The proile of Santhosh Kurichianil posted for Java Developer... </span>
	</li>

</ul>