<div class="container-fluid ant-container">
	<!-- Header -->
	<div class="row header">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			<a href="add-a-job.html" class="main-heading">Ada a job</a>
		</div>

	</div>
	<!--/ Header -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="form-antlegs add-job-form">
					<form autocomplete="off" class="form" role="form">
						<div class="row">
							<div class="col-12 col-md-12">
								<div class="form-group">
									<label for="inputName">Job Title*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Job Function*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Location*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Employement Type*</label>
									<select class="form-control select">
											<option value="">Select Employement Type</option>
											<option value="">Permanent</option>
											<option value="">Temporary</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Minimum Experience (Yrs)*</label>
									<input class="form-control" id="inputName" type="text">
									<small>Eg: 02-10 years</small>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Seniority Level*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">No of Positions*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Education Level</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Degree*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Specialization*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Certifications (If any)</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>

							<div class="col-12 col-md-12">
								<div class="ant-rich-text">
									<textarea id="jobDescription">Next, use our Get Started docs to setup Tiny!</textarea>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Cadidate Preferences</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Nationality*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Gender*</label>
									<select class="form-control select">
											<option value="">Select Gender</option>
											<option value="">Male</option>
											<option value="">Female</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Age range</label>
									<input class="form-control" id="inputName" type="text">
									<small>Eg: 20-30</small>
								</div>
							</div>

							<div class="col-12 col-md-12">
								<h4>Salary & Rewards</h4>
							</div>

							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Salary Offered (USD/Year)*</label>
									<input class="form-control" id="inputName" type="text">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Reward Offered*</label>
									<select class="form-control select">
											<option value="">Select Reward Offered</option>
											<option value="">Male</option>
											<option value="">Female</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="form-group">
									<label for="inputName">Reward Value (USD)</label>
									<input class="form-control" id="inputName" type="text" value="0">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group last-group text-center">
									<button class="btn btn-get btn-white" type="reset">Cencel</button>
									<a class="btn btn-get" href="add-a-job-preview.html">Preview & Save</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>