<ul class="open-job-list">
	<li>
		<h2 class="ant-title"><b>Markegting & Communications Director</b> | Hexagon Technologies</h2>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress:</li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
					<li>Recruiters Engaged : <b>20</b></li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		<h2 class="ant-title"><b>Markegting & Communications Director</b> | Hexagon Technologies</h2>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress:</li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
					<li>Recruiters Engaged : <b>20</b></li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		<h2 class="ant-title"><b>Markegting & Communications Director</b> | Hexagon Technologies</h2>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress:</li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
					<li>Recruiters Engaged : <b>20</b></li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		<h2 class="ant-title"><b>Markegting & Communications Director</b> | Hexagon Technologies</h2>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress:</li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
					<li>Recruiters Engaged : <b>20</b></li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
	<li>
		<h2 class="ant-title"><b>Markegting & Communications Director</b> | Hexagon Technologies</h2>
		<div class="div-table">			
			<span>
				<ul class="responses-list">
					<li>In Progress:</li>
					<li class="shortlisted">20</li>
					<li class="interviewed">12</li>
					<li class="hirings">10</li>
					<li class="rejections">08</li>
					<li>Recruiters Engaged : <b>20</b></li>
				</ul>
			</span>			
			<span class="last-activity"><i>Last Activity : </i>10 days ago</span>
		</div>
	</li>
</ul>