<!-- Filter Modal -->
<div class="modal fade" id="filterOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body filter-body">
                <div class="filter-list">
                    <ul class="filter-tabs">
                        <li class="active waves-effect">
                            <a href="#status">Status</a>
                        </li>
                        <li class="waves-effect">
                            <a href="#indutry">Indutry</a>
                        </li>
                        <li class="waves-effect">
                            <a href="#location">Location</a>
                        </li>
                        <li class="waves-effect">
                            <a href="#searchCompany">Search Company</a>
                        </li>
                    </ul>
                </div>
                <div class="filter-content">
                    <div id="status">
                        <div class="content-body">
                            <h5>Filter your status and get results</h5>
                            <div class="status-action">
                                <button type="button" class="btn btn-new waves-effect">New</button>
                                <button type="button" class="btn btn-activated active waves-effect">Activated</button>
                                <button type="button" class="btn btn-non-active waves-effect">Non-Active</button>
                                <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>
                            </div>
                        </div>
                        <div class="content-footer">
                            <button type="button" class="btn btn-big blue waves-effect">Filter</button>
                            <button type="button" class="btn btn-big waves-effect">Reset</button>
                        </div>
                    </div>
                    <div id="indutry">                        
                        <div class="content-body">
                            <h5>Filter your <b>indutry</b> and get results</h5>
                            <div class="status-action">
                                <button type="button" class="btn btn-new waves-effect">New</button>
                                <button type="button" class="btn btn-activated active waves-effect">Activated</button>
                                <button type="button" class="btn btn-non-active waves-effect">Non-Active</button>
                                <button type="button" class="btn btn-deactivated waves-effect">Deactivated</button>
                            </div>
                        </div>
                        <div class="content-footer">
                            <button type="button" class="btn btn-big blue waves-effect">Filter</button>
                            <button type="button" class="btn btn-big waves-effect">Reset</button>
                        </div>
                    </div>
                    <div id="location">
                        <h5>Filter your <b>Location</b> and get results</h5>
                    </div>
                    <div id="searchCompany">
                        <h5>Search <b>Company</b></h5>
                    </div>
                </div>
            </div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div-->
        </div>
    </div>
</div>
<!-- /Filter Modal -->