<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="home-heading bold">Contact Us</h4>
                    <br>
                    <a href="tel:1800 300 9322" class="icon call">1800 300 9322</a>
                    <a href="mailto:contact@antlegs.com" class="icon email">contact@antlegs.com</a>
                    <p class="icon address">58/241 Koramangala, Bangalore, Karnataka, India - 560034</p>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p class="text-center">Copyright © 2019 AntLegs Ltd.  All Rights Reserved</p>
        </div>
    </div>