<div class="col-sm-6 col-md-4 col-lg-3">
    <!--Card-->
    <div class="card ant-card" data-toggle="modal" data-target="#interviewDetails">
        <div class="row">
            <div class="col col-sm-6">
                <div class="employer-logo">
                    <img class="lazy" src="assets/images/sample-logo.jpg" data-src="assets/images/employer-logo-1.jpg"
                        alt="Microsoft" />
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-new waves-effect">New Request</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Hexagone Technologies Private Li...
            </h5>
            <h5 class="card-title address nsa">
                Indra Nagar, LBS Marg, Bangalore...
            </h5>
            <!--Text-->
            <p class="card-title bold">
                Santhosh Kurichianil
            </p>
            <p class="card-title">
                Python Developer
            </p>
            <p class="card-title">
                Mode : <b>Skype</b>
            </p>
            <p class="card-title">
                Interview Slots
            </p>    
            <ul class="time-slots">
                <li>08/30/19 | 04:30pm</li>
                <li>09/12/19 | 02:30pm</li>
            </ul>        
        </div>
        <div class="ant-footer">
            <hr>
            <p class="publish-date">
               2 days ago
            </p>
        </div>

    </div>
    <!--/.Card-->
</div>