<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <!--Card-->
    <div class="card ant-card">
        <div class="row">
            <div class="col col-sm-12">
                <div class="employer-action text-right">
                    <button type="button" class="btn btn-open waves-effect">Hire</button>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="ant-content">
            <!--Title-->
            <h5 class="card-title card-bold">
                Freddy George Fernandes
            </h5>
            <h5 class="card-title nsa">
               Indian / Male / Age 23 yrs
            </h5>            
            <p class="ant-title">
                Hexaware Technologies
            </p>
            <p class="ant-title">
                Director - Marketing & Communic...
            </p>            
            <p class="ant-title nsa">
                Relevant Experience : 10 yrs
            </p>            
        </div>
        <div class="ant-footer">
            <hr>
            <p class="publish-date">
                <span>TalentSteen as on: </span> <b>Aug 28, 2019</b>
            </p>
        </div>

    </div>
    <!--/.Card-->
</div>