<!-- Recruiter new registration modal -->
<div class="modal fade" id="newRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Registration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="ant-content">
							<h5 class="ant-title">Registered on : <b>12/08/2019</b></h5>
							<br>
							<h5 class="ant-title bold">
								Talentsteen
							</h5>
							<h5 class="ant-title address">
								Bangalore, Karnataka, India
							</h5>
							<br>
							<h5 class="ant-title bold nsa">
								Preferred Industry
							</h5>
							<p class="ant-title">Information Technology, Banking & Finance</p>
							<!--a href="#" class="ant-title web-link">
								www.hexagone.com
							</a-->
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h5 class="ant-title bold">Contact Details</h5>
						<h5 class="ant-title">Santhosh Kurichianil</h5>
						<h5 class="ant-title">Head Recruitment</h5>
						<h5 class="ant-title">Human Resources</h5>
						<h5 class="ant-title">+91 9767783435</h5>
						<br>
						<a href="#" class="ant-title web-link">
							santhosh.kurichianil@gmail.com
						</a>
						<br>
						<p class="ant-title">LinkeIn : <a href="#"><b>https://www.linkedin.com/sant...</b></a></p>
					</div>
				</div>				
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-big blue waves-effect" data-dismiss="modal">Activate</button>
				<button type="button" class="btn btn-big waves-effect">Delete</button>
			</div>
		</div>
	</div>
</div>
<!--/ Recruiter new registration modal -->