<!-- View Job Description Modal -->
<div class="modal fade" id="vjdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Job Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="id-content">                    
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="ant-content">
                                <h4 class="job-title">Java Developer  </h4>
                                <!--Title-->
                                <p class="">
                                    Employer : <b>Hello World Technologies, Spain</b>
                                </p>
                                <br>
                                <p class="bold">
                                    Job Description
                                </p>
                                
                                <!--Text-->
                                <p class="">
                                   Project manage the teams delivery to a successful release by tracking work, dependencies and risks and taking corrective actions as necessary. Be accountable (in conjunction with the team technical lead)writing and running of unit tests.
                                </p>
                                <br>
                                <p class="">
                                   Education Level : <b>Graduate</b>
                                </p>                                
                                <p class="">
                                    Specializtion : <b>Developder in Java</b>
                                </p>
                                <p class="">
                                   Certification : <b>Masters in IT</b>
                                </p>
                                                              
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="ant-content">
                                <!--Title-->
                                <p class="">
                                    Salary Type (USD): <b>$32,000</b>
                                </p>
                                <p class="">
                                    Reward (USD): <b>$4,000</b>
                                </p>
                                <br>
                                 <p class="">
                                    Job Function : <b>Information Technology</b>
                                </p>
                                 <p class="">
                                    Experience : <b>5 - 10 yrs</b>
                                </p>
                                 <p class="">
                                    Seniority Level : <b>Mid Level</b>
                                </p>
                                 <p class="">
                                    Employment Type : <b>Contract</b>
                                </p>
                                
                                <br><br>
                                <p class="bold">
                                   Preferences
                                </p>
                                <p class="">
                                    Nationality : <b>Indian</b>
                                </p>
                                <p class="">
                                    Gendder : <b>Male</b>
                                </p>
                                <p class="">
                                    Age : <b>30 - 40 yrs</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-big waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-big btn-blue waves-effect" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- /View Job Description Modal -->