<footer>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 footer-align">
          <ul class="footer-nav">
            <li>
              <a href="#">Day Trip</a>
            </li>
            <li>
              <a href="#">Monsoon Activities</a>
            </li>            
            <li>
              <a href="#">Adventure</a>
            </li>
            <li>
              <a href="#">Tours</a>
            </li>
            <li>
              <a href="#">Combo Packages</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-3">
          <p>All Rights are reserved by Volgoa</p>
        </div>        
        <div class="col-sm-3 col-lg-3  social-follow">
          <ul>
            <li>
              <a href="#" target="_blank">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-youtube"></span>
              </a>
            </li>            
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-btn bounce">
  <span class="fa fa-angle-double-up"></span>
</div>