<nav class="navbar navbar-expand-lg navbar-light bg-white bs-none">
	<div class="container-fluid">

		<a href="javascript:;" id="sidebarCollapse" class="hamburg">&nbsp;</a>
		<a href="#" class="logo">
			<span>ANT</span>
			<span>LEGS</span>
		</a>

		<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-align-justify"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav ml-auto">
				<!-- <li class="nav-item active">
                <a class="nav-link" href="#">Page</a>
              </li>               -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						<i class="fas fa-bell bell-icon"></i><span>Notification</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
						<a class="dropdown-item d-xl-none waves-effect waves-light" href="/support/">Support Forum</a>
						<a class="dropdown-item waves-effect waves-light" href="/snippets/">Editor &amp; Snippets</a>
						<a class="dropdown-item waves-effect waves-light" href="/articles/">Articles</a>
						<a class="dropdown-item waves-effect waves-light" href="/news/frontend/">News</a>
						<a class="dropdown-item waves-effect waves-light" href="/cli/">MDB CLI <span
								class="badge badge-danger rounded">New</span></a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						<i class="fas fa-user-circle user-icon"></i><span>Hi Snahal K</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
						<a class="dropdown-item d-xl-none waves-effect waves-light" href="/support/">Support Forum</a>
						<a class="dropdown-item waves-effect waves-light" href="/snippets/">Editor &amp; Snippets</a>
						<a class="dropdown-item waves-effect waves-light" href="/articles/">Articles</a>
						<a class="dropdown-item waves-effect waves-light" href="/news/frontend/">News</a>
						<a class="dropdown-item waves-effect waves-light" href="/cli/">MDB CLI <span
								class="badge badge-danger rounded">New</span></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>