<nav class="navbar navbar-expand-lg navbar-light navbar-antlegs bs-none">
	<div class="container-fluid ant-container">

		<a href="javascript:;" id="sidebarCollapse" class="hamburg">&nbsp;</a>
		<a href="#" class="logo">
			<span>ANT</span>
			<span>LEGS</span>
		</a>

		<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-align-justify"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav ml-auto">
				<!-- <li class="nav-item active">
                	<a class="nav-link" href="#">Page</a>
              	</li> -->
				<li class="nav-item  notification-globle dropdown">
					<a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						<i class="fas fa-bell bell-icon"></i><span>Notification</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
						<h4><i class="fas fa-bell bell-icon"></i><span>Notification</span></h4>
						<ul id="notification">
								<li class="unread-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">The job for Marketing Director with Hexaware Technologies has been
											closed</span>
										<span class="alert-time">
											<i>20 mins ago</i>
											<!--i> 09:40am</i-->
										</span>
									</a>
								</li>
								<li class="read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>30 mins ago</i>
											<!--i> 09:40am</i-->
										</span>
									</a>
								</li>
								<li class="unread-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">The job for Marketing Director with Hexaware Technologies has been
											closed</span>
										<span class="alert-time">
											<i>2 hrs ago</i>
											<!--i> 09:40am</i-->
										</span>
									</a>
								</li>
								<li class="unread-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">The job for Marketing Director with Hexaware Technologies has been
											closed</span>
										<span class="alert-time">
											<i>4 hrs ago</i>
											<!--i> 09:40am</i-->
										</span>
									</a>
								</li>
								<li class="inline-email read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">Email A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>yesterday</i>
											<!--i> 09:40am</i-->
										</span>
									</a>
									<div class="email-box">
										<button type="button" class="btn email">Email</button>
										<button type="button" class="btn delete">Delete</button>
										<div class="msg-box">
											<div class="input-group my-group">
												<textarea class="text-area form-control" name="" id="" cols="10" rows="3"
													placeholder="An email will be sent to your email ID with your message here (max 100 characters)"></textarea>
												<span class="input-group-btn">
													<button class="btn" type="submit" title="Search">Search</button>
												</span>
											</div>
										</div>
										<!-- /input-group -->
									</div>
								</li>
								<li class="read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
								<li class="read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
								<li class="unread-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
								<li class="unread-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
								<li class="read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
								<li class="read-msg">
									<a href="#" class="alert-list">
										<span class="alert-msg">A new job for Creative Head has been posed by Hexaware
											Technologies</span>
										<span class="alert-time">
											<i>12/09/19</i>
											<i> 09:40am</i>
										</span>
									</a>
								</li>
							</ul>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						<i class="fas fa-user-circle user-icon"></i><span>Hi Snahal K</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
						<a class="dropdown-item d-xl-none waves-effect waves-light" href="/support/">Support Forum</a>
						<a class="dropdown-item waves-effect waves-light" href="/snippets/">Editor &amp; Snippets</a>
						<a class="dropdown-item waves-effect waves-light" href="/articles/">Articles</a>
						<a class="dropdown-item waves-effect waves-light" href="/news/frontend/">News</a>
						<a class="dropdown-item waves-effect waves-light" href="/cli/">MDB CLI <span
								class="badge badge-danger rounded">New</span></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>