<!-- Sidebar  -->
<nav id="sidebar">    

    <div class="sidebar-header">
        <a href="javascript:;" id="dismiss" class="hamburg">&nbsp;</a>
		<a href="#" class="logo">
			<span>ANT</span>
			<span>LEGS</span>
		</a>
    </div>

    <ul class="list-unstyled components">        
        <!-- <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li> -->
        <li class="waves-effect">
            <a href="employers-dashboard.html" class="dashboard">Dashboard</a>
        </li>        
        <li class="waves-effect active">
            <a href="index.html" class="employers">Employers</a>
        </li>
        <li class="waves-effect">
            <a href="recruiters.html" class="recruiters">Recruiters</a>
        </li>
        <li class="waves-effect">
            <a href="#" class="jobs">Jobs</a>
        </li>
        <li class="waves-effect">
            <a href="interviews-calendar.html" class="interviews">Interviews</a>
        </li>
        <li class="waves-effect">
            <a href="payments-billings.html" class="payments">Payments</a>
        </li>
        <li class="waves-effect">
            <a href="#" class="rewards">Rewards & Points</a>
        </li>
        <li class="waves-effect">
            <a href="#" class="reports">Reports</a>
        </li>
        <li class="waves-effect manage-admin">
            <a href="#" class="manage">Manage Admin</a>
        </li>
    </ul>
</nav>
<!-- /Sidebar  -->