node_modules/
UI/
PSDs/
e-mailer/
package-lock.json
AntLegs.zip
skeleton loading link
https://codepen.io/webcrunchblog/pen/vVvPZM
https://web-crunch.com/how-to-create-skeleton-screen-loading-effect/
Material Design
https://mdbootstrap.com/education/bootstrap/quick-start/
https://mdbootstrap.com/docs/jquery/components/demo/
https://mdbootstrap.com/docs/jquery/modals/basic/
