.mce-container {

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled),
    button:not(:disabled) {
        background: $white;
    }
}

.add-job-form {
    margin-top: 0;
    padding: 20px;

    h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .last-group {

        .btn-white,
        a.btn-white {
            color: $blue;
            background: $white;
            border: 1px solid #ccc;
            margin-right: 10px;

            &:hover {
                color: $blue;
            }

            @include respond-to(460px, max) {
                margin-bottom: 20px;
            }
        }

        .fa-edit {
            margin-right: 10px;
        }
    }

    select.form-control.select {
        background: url("../images/dropdown-arrow.png") 96% 50% no-repeat;
        margin-left: 0;
        padding: 10px 25px 10px 10px;

        &:disabled {
            background: #e9ecef;
        }
    }

    .ant-rich-text {
        margin-bottom: 2.2rem;
    }

    .form-group {
        position: relative;

        label {
            @include respond-to(768px, 900px) {
                font-size: 14px;
            }
        }

    }

    .file-upload {
        margin-top: 0;

        .custom-file-label,
        .custom-file {
            height: 50px;
        }

        .custom-file-input:lang(en)~.custom-file-label::after {
            height: 42px;
        }

        .custom-file-label::before {
            margin-right: 130px;
        }
    }

}

.candidate-form {
    margin-top: 50px;
}

// .form-wrapper {
//     max-width: 1040px;
//     margin: 0 auto;

//     .form-antlegs .form-group .form-control {
//         height: 68px;
//     }

//     .add-job-form select.form-control.select {
//         background: url("../images/big-down-arrow.png") 96% 50% no-repeat;

//         &:invalid {
//             color: #666666 !important;
//         }
//     }
// }

.mandatory {
    font-size: 16px;
    text-align: right;
    padding: 20px 20px 0;
    margin-bottom: 0;
    color: #666666;
}