.employer-logo {
  margin-bottom: 10px;
}

.ant-card {
  margin-bottom: 20px;
  padding: 20px;
  @include prefixes(box-shadow, none);
  @include transitionAll;
  cursor: pointer;
  border-top: 2px solid $white;
  height: calc(100% - 20px);
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.16), 0 5px 20px 0 rgba(0,0,0,.12);
    border-top: 2px solid $blue;
  }
  .card-title {
    @include multiline-text(12px, 1.4, 1);
    margin-bottom: 0.25rem;    
  }

  .card-bold {
    @include bold-font;
  }   

  .ant-content {
    min-height: 128px;    
  }
}

.publish-date {
  font-size: 10px;
  >span {
    color: $grey;
  }
}

.card {
    @include prefixes(box-shadow, none);
}


.web-link {
  color: $blue;
  margin-bottom: 15px;
}

.filter-col {
  margin: 20px 0;
}

.card-title.nsa, .ant-title.nsa {
  margin-bottom: 10px;
}

