.cp-wrapper {
    max-width: 650px;
    margin: 100px auto;

    img {
        display: inline-block;
    }

    .floating-form {
        margin-top: 20px;
    }

    .form-antlegs .last-group .btn-get {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: -0.7px;
        width: 170px;
    }   
    
    .btn-blue-outline {
        border: 1px solid $blue;
    }
}



