.user-header {
  p {
    font-size: 14px;
    color: #000000;
  }

  span {
    color: $blue;
    font-weight: 600;
    text-decoration: underline;
  }
}

.ra-list {
  margin: 0;
  padding: 0;
  font-size: 0;

  li {
    list-style: none;
    font-size: 12px;
    display: table;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
    @include transitionAll;

    &:hover {
      background: #e9e9e9;
    }

    > span {
      display: table-cell;
      padding: 0 10px;
      line-height: 1.5;

      &:first-child {
        width: 100px;
      }

      a {
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

.ra-scroll {
  max-height: 220px;
  margin: 15px 0;
}

.opening-div {
  width: 100px;
}

.projects-list {
  > li .div-table > span {
    @include respond-to($xxs, max) {
      margin-bottom: 10px;
		}
		
		&.last-activity.text-right {
			@include respond-to($xxs, max) {
				text-align-last: left;
			}
		}
  }

  
}

.demo-fixed {
  position: relative;

  .coach-overlay {
    position: absolute;
    top: 0;

    .guide {
      margin-top: 100px;
    }
  }

  .coach-body {
    position: initial;

    h2 {
      margin-top: 20px;
    }
  }

  .coach-content .blue {
    width: 130px;
    font-size: 18px;
    padding: 8px 12px;
    background: #316ea7;
  }

  .coach-content .group-btn {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }

  .guide-desc {
    margin-top: 40px;
  }

  .coach-body::after {
    display: none;
  }
}
