.invoice-dashboard {
    background: $white;
    border: 1px solid #eaeaea;
    padding: 10px;
    text-align: center;
    color: $halfBlack;
    p {
        margin: 10px 0;
        font-size: 12px;
    }
    h4 {
        font-size: 16px;
    }
    .col {
        border-right: 1px solid #e9e9e9;
        @include respond-to($xxs, max) {
            flex-basis: unset;
            border-right: 0;
            padding: 10px 0;
            &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9;
                margin-bottom: 20px;
            }
        }
    }
}

.invoice-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #ebeef0;
    margin: 0 auto;
    &.received {
        background: #ebeef0 url("../images/received-icon.png") center no-repeat;
    }
    &.new {
        background: #d3ebf5 url("../images/new-icon.png") center no-repeat;
    }
    &.cleared {
        background: #daf5d3 url("../images/cleared-icon.png") center no-repeat;
    }
    &.pending {
        background: #f5e2d3 url("../images/pending-icon.png") center no-repeat;
    }
    &.cancelled {
        background: #ffcccc url("../images/pending-icon.png") center no-repeat;
    }
}

.invoice-header {
    .main-heading {
        font-size: 14px;
        &::before {
            display: none;
        }
        small {
            font-weight: normal;
        }
    }
    .filter-open {
        &::before {
            background-image: url("../images/white-filter-icon.png");
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }
    .blue {
        background: $blue;
        color: $white;
        padding: 5px 12px;
        width: 94px;
        font-size: 12px;
    }
}

.invoice-card-slider {
    .slick-prev,
    .slick-next {
        width: 30px;
        height: 60px;
        z-index: 99;
    }
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
    .slick-prev {
        left: 0;
        background: transparent url("../images/left-white-arrow.png") center no-repeat;
        &:hover {
            background: transparent url("../images/left-blue-arrow.png") center no-repeat;
        }
    }
    .slick-next {
        right: 0;
        background: transparent url("../images/right-white-arrow.png") center no-repeat;
        &:hover {
            background: transparent url("../images/right-blue-arrow.png") center no-repeat;
        }
    }
}