.form-wrapper {
    max-width: 1040px;
    margin: 0 auto 60px;
    border-radius: 5px;
}

.floating-form {
    width: 100%;
    padding: 20px;
    margin: 0;

    h4 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    .btn-white,
    a.btn-white {
        color: $blue;
        background: $white;
        border: 1px solid #ccc;
        margin-right: 10px;

        &:hover {
            color: $blue;
        }

        @include respond-to(460px, max) {
            margin-bottom: 20px;
        }
    }

}

/****  floating-Lable style start ****/
.floating-label {
    position: relative;
    margin-bottom: 30px;

    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
}

.floating-input,
.floating-select {
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    height: 68px;
    background-color: transparent;
    border: 1px solid #acacac;
    border-radius: 5px;
}

.floating-select {
    option[value=""] {
        display: none;
    }

    &.select {
        padding: 10px 52px 10px 20px;
        background: url("../images/big-down-arrow.png") 96% 50% no-repeat;
        font-size: 18px;
    }
}

.floating-input:focus,
.floating-select:focus {
    outline: none;
    border: 2px solid $blue;
}


.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: 0;
    left: 10px;
    font-size: 14px;
    color: $blue;
    background: white;
    padding: 5px 10px;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
    top: 0;
    font-size: 14px;
    color: $blue;
    background: white;
    padding: 5px 10px;
}

/* active state */
.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
    width: 50%;
}

.floating-textarea {
    min-height: 80px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}

/* highlighter */
.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
    from {
        background: $blue;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: $blue;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: $blue;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/***   daniel - Fork me friend - style   ***/
.floating-credit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #aaa;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.floating-credit a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.floating-credit a:hover {
    border-bottom: 1px dotted #f8f8f8;
}

.floating-heading {
    position: fixed;
    color: #aaa;
    font-size: 20px;
    font-family: arial, sans-serif;
}

/***  daniel - Fork me friend - style  ***/

.floating-form-small {

    .floating-input,
    .floating-select {
        font-size: 14px;
        height: 48px;
    }

    .floating-label label {
        font-size: 14px;
    }
}