.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Upload";
    margin: 3px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font-weight: 700;
    padding: 7px 22px;
    height: 35px;
    background: $white;
}

.custom-file-label {
    height: 42px;
    padding: 10px .75rem;

    &::before {
        content: "Choose File";
        float: right;
        margin-right: 100px;
        color: $blue;
        font-weight: 500;
        @include respond-to($xxs, max) {
            display: none;
        }
    }
}