.candidate-action {
  @include respond-to(768px, max) {
    margin: 10px 0;
  }

  @include respond-to(1024px) {
    text-align: right;
  }

  > * {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
  }

  .form {
    position: relative;
    @include respond-to(480px, max) {
      width: 100%;
    }

    .cleartext {
      position: absolute;
      top: 1px;
      right: 1px;
      width: 41px;
      height: 39px;
      font-size: 14px;
      font-weight: 500;
      color: #666666;
      border: 0;
      background: transparent;
    }
  }

  .search {
    padding: 9px 40px;
    border-color: #acacac;
    height: 41px;
    background: #ffffff url("../images/search-icon-black.png") 10px center
      no-repeat;
    font-size: 14px;
    color: #666666;

    @include respond-to(768px, max) {
      margin-bottom: 20px;
    }

    @include respond-to(1024px) {
      width: 320px;
    }
  }

  .btn-blue {
    padding: 10px;
    background-color: #2e669c !important;
    color: #fff;
    font-size: 14px;
    width: 150px;
  }

  .select.select {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #fff;
    border-color: #acacac;
    font-size: 14px;
    color: #666666;
    @include respond-to(360px, max) {
      width: 120px;
    }

    @include respond-to(568px, 768px) {
      width: 130px;
    }
  }
}

.mic-popup {
  table.table thead th {
    border-top: none;
    background: #2a5e8e;
    color: #fff;
  }

  table.table-hover tbody tr:hover {
    transition: 0.5s;
    background-color: #f2f4f6;
  }

  table.table td,
  table.table th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &#interviewScheduled {
    .modal-body {
      background: #fff;
    }

    .modal-dialog .modal-title {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .pi-body {
    .active {
      background: #d4dfe8;

      .toggle-col::after {
        transform: rotate(-180deg);
      }
    }

    .toggle-col {
      color: #2a5e8e;
      text-decoration: underline;
      position: relative;

      &::after {
        content: " ";
        width: 12px;
        height: 8px;
        display: inline-block;
        background: url("../images/blue-down-arrow.png") center no-repeat;
        vertical-align: middle;
        margin-left: 10px;
        transition: all 0.5s ease;
      }
    }
  }

  .pi-confirm {
    font-size: 12px;
    color: #333333;
    background: #d4dfe8;
    padding: 0;
    text-align: center;
    display: none;

    a {
      color: #2a5e8e;
    }

    button {
      border: 1px solid #92adc5;
      border-radius: 24px;
      background: #d4dfe8;
      color: #2a5e8e;
      padding: 5px 20px;
      margin-left: 20px;
      font-size: 12px;

      &::before {
        content: " ";
        width: 11px;
        height: 11px;
        display: inline-block;
        background: url("../images/alarm-icon.png") center no-repeat;
        vertical-align: middle;
        margin-right: 5px;
      }

      &.set-btn {
        &::before {
          width: 12px;
          background: url("../images/set-icon.png") center no-repeat;
        }
      }
    }
  }
}
