.hamburg {
	width: 22px;
	height: 16px;
	background: url("../images/hamburg.png") center no-repeat;
	display: inline-block;
	margin-right: 20px;
}

.logo {
	@include bold-font;
	@include rem(font-size, 22px);
	span {
		color: $blue;
		letter-spacing: 2px;
		&:last-child {
			color: $yellow;
		}
	}
}

.navbar {
	font-weight: 400;
}

#content {
	.navbar {
		padding-top: 18px;
    	padding-bottom: 18px;
	}	
}
