.registration {
  background-size: cover;
  background-color: $blue;
  padding-bottom: 60px;

  @include respond-to($xs) {
    background-size: contain;
  }
}

.heading {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: inline-block;
  color: $black;
  font-size: 30px;
  font-weight: 700;

  &::after {
    content: " ";
    width: 62px;
    height: 4px;
    background: $yellow;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.mandatory {
  position: relative;

  &::after {
    content: attr(title);
    position: absolute;
    top: 27px;
    right: 20px;
    font-size: 13px;
    color: #666666;
    z-index: 1;

    @include respond-to($sm, max) {
      top: 100%;
      left: 50%;
      right: inherit;
      transform: translateX(-50%);
    }

    @include respond-to(580px, $sm) {
      right: 0;
    }

    @include respond-to($xs) {
      font-size: 16px;
    }
  }
}

.registration-wrapper {
  //text-align: center;
  padding: 10px;
  background: $white;
  border-radius: 10px;
  border: 10px solid $white;
  position: relative;
  @include prefixes(box-shadow, 0px 10px 15px 3px rgba(0, 0, 0, 0.25));
  z-index: 1;

  @include respond-to($xs) {
    padding: 50px;
  }

  .white-wrapper {
    @include respond-to($xs, max) {
      padding: 0;
      margin-top: 30px;
    }
  }

  .nav-tabs {
    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: rgba($color: #000000, $alpha: 0.5);
      border-bottom: 6px solid transparent;
      padding: 40px 22px 10px;

      @include respond-to($xs) {
        font-size: 26px;
        padding: 10px 50px;
      }

      @include respond-to($xs, $sm) {
        padding: 10px 30px;
      }

      &.active,
      &:hover {
        font-weight: 500;
        color: $black;
        border-bottom: 6px solid #306ba3;
      }
    }
  }
}

.form-antlegs {
  margin-top: 30px;

  .form-group {
    margin-bottom: 2.2rem;

    label {
      display: block;
      font-size: 20px;
      color: #333333;
      text-align: left;

      @include respond-to(1600px) {
        font-size: 26px;
      }
    }

    .form-control {
      font-size: 18px;
      height: 50px;
      padding: 10px;
      border: 1px solid #acacac;
      color: $black;

      @include respond-to(1600px) {
        font-size: 26px;
        padding: 15px;
        height: 78px;
      }
    }
  }

  .last-group {
    margin-top: 2rem;

    .btn-get {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .form-check {
    text-align: left;
    font-size: 16px;
    color: #666;
    margin-top: -20px;
  }

  .link {
    font-size: 18px;
  }

  .already {
    font-size: 15px;

    a {
      font-size: 18px;
    }
  }

  .big-title {
    font-size: 40px;
    font-weight: 500;
    color: $blue;
    margin-bottom: 50px;

    // @include respond-to(480px, max) {
    //     margin-top: 0;
    // }

    @include respond-to(768px) {
      margin-top: 65px;
    }

    @include respond-to(815px) {
      font-size: 60px;
      margin-bottom: 0;
    }

    span {
      color: $yellow;
      display: inline-block;
      margin-top: 30px;
      position: relative;

      &::after {
        content: "";
        width: 60px;
        height: 4px;
        background: $yellow;
        margin-top: 30px;
        display: block;
      }
    }
  }
}

.ant-tab {
  &.no-border {
    border: 0;

    .nav-tabs {
      border: 0;

      .nav-item {
        margin-bottom: 0;
        border-bottom: 1px solid #acacac;
      }
    }
  }
}

.multi-select {
  .btn-group {
    display: inline-block;
    width: 100%;

    .btn-default.dropdown-toggle {
      width: 100%;
      font-size: 18px;
      height: 50px;
      padding: 10px 40px 10px 10px;
      border: 1px solid #acacac;
      color: $black;
      background: $white !important;

      @include respond-to(1600px) {
        font-size: 26px;
        padding: 15px;
        height: 78px;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 21px;
        height: 13px;
        background-image: url("../images/big-down-arrow.png");
      }

      .multiselect-selected-text {
        display: block;
        text-align: left;
      }
    }

    .dropdown-menu {
      width: 100%;
    }

    .multiselect-container > li > a > label.radio,
    .multiselect-container > li > a > label.checkbox {
      font-size: 18px;
      color: #000;
      padding: 5px 15px;
    }

    .multiselect-container > li > a > label > input[type="checkbox"] {
      margin-right: 10px;
    }
  }
}
