.rp-container {
    .rp-list li {
        width: 100%;
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 3px;
            left: 0;
        }
    }

    .overall-summary {
        margin-bottom: 8px;
    }
}

.redeemed-card {
    .btn-outline {
        border: 1px solid #30a38c;
        color: #30a38c;
    }

    .reward-trophy {
        position: relative;
        padding-left: 50px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #c0e3dc url("../images/trophy-icon.png") center no-repeat;
        }

        p {
            margin-bottom: 6px;
        }
    }
}

.redeemed-point {
    background: $white;
    padding: 15px;    
    margin-bottom: 30px;
    font-size: 14px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #30a38c url("../images/white-check-icon.png") center no-repeat;
        vertical-align: middle;
        margin-right: 15px;
    }
}

.redeem-body {
    .redeemed-card {
        .card {
            border: 1px solid #d1d1d1;
        }
    }

    .card-title {
        font-size: 14px;
    }
}

.redeem-points {
    padding: 20px;

    ul {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 0;

        li {
            list-style: none;
            display: inline-block;
            width: 50%;
            font-size: 16px;
            text-align: center;
            padding: 15px;

            &:last-child {
                border-left: 1px solid #d1d1d1;
            }
        }

        +div {
            border-top: 1px solid #d1d1d1;
            padding-top: 20px;
        }
    }

    .btn-big {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}