<div class="breadcrumbWrapper hidden-xs">
    <div class="layoutWrap">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Vehicles</li>
        </ol>
    </div>
</div>