body {
    background: $silver;
    color: $halfBlack;
    @include regular-font;
    font-size: 12px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

.wrapper {
    display: block;
}

#sidebar {
    width: 210px;
    position: fixed;
    top: 0;
    left: -215px;
    height: 100vh;
    z-index: 999;
    background: $white;
    color: $halfBlack;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &.active {
        left: 0;
    }

    .sidebar-header {
        padding: 18px 20px;

        .hamburg {
            position: relative;
            top: -3px;
        }
    }

    ul.components {
        li {
            &:nth-last-child(2) {
                border-bottom: 1px solid #e9e9e9;
            }

            &:last-child {
                margin-top: 50px;
            }

            >a {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;                    
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                    margin-right: 20px;
                }

                &.dashboard::before{
                    background-image: url("../images/dashboard-icon.png");
                }

                &.employers::before{
                    background-image: url("../images/employers-icon.png");
                }
                &.recruiters::before{
                    background-image: url("../images/recruiters-icon.png");
                }
                &.jobs::before{
                    background-image: url("../images/jobs-icon.png");
                }
                &.interviews::before{
                    background-image: url("../images/interviews-icon.png");
                }
                &.payments::before{
                    background-image: url("../images/payments-icon.png");
                }
                &.rewards::before{
                    background-image: url("../images/rewards-icon.png");
                }
                &.reports::before{
                    background-image: url("../images/reports-icon.png");
                }
                &.manage::before{
                    background-image: url("../images/manage-icon.png");
                }                
            }
        }
    }

    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        padding: 15px;
        font-size: 14px;
        display: block;
    }

    ul li a:hover {
        color: $halfBlack;
        background: $yellow;
    }

    ul li.active>a,
    a[aria-expanded="true"] {
        color: $halfBlack;
        background: $yellow;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $halfBlack;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
        display: block;
        opacity: 1;
    }
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -210px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

.col-center {
    float: none;
    margin: 0 auto;
}

.zoom-img {
    overflow: hidden;
    display: block;

    img {
        @include transitionAll;
    }

    &:hover {
        img {
            @include scaleImg;
        }
    }
}

.skeleton-box {
    display: inline-block;
    height: 10px;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#fff, 0) 0,
                rgba(#fff, 0.3) 30%,
                rgba(#fff, 0.6) 60%,
                rgba(#fff, 0));
        animation: shimmer 2.0s infinite;
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.sb-xs {
    width: 20%;
}

.sb-sm {
    width: 40%;
}

.sb-md {
    width: 60%;
}

.sb-lg {
    width: 80%;
}

.sb-xl {
    width: 100%;
}

.font-xs {
    font-size: 10px;
}

.btn[class*=btn-outline-] {
    padding: 4px 5px;
}

.btn {
    border-radius: 5px;
    font-size: 10px;
    padding: 4px 5px;
    margin: 0;
    text-transform: capitalize;
    @include transitionAll;

    &-activated {
        width: 75px;
        border: 1px solid $green;
        color: $green;      

        &.active, &:hover {
            background: $green;
            color: $white;
        }
    }

    &-deactivated {
        border: 1px solid $red;
        color: $red;
        width: 75px;        
        &.active, &:hover {
            background: $red;
            color: $white;
        }
    }

    &-new {
        border: 1px solid $blue;
        color: $blue;
        width: 75px;
        &.active, &:hover {
            background: $blue;
            color: $white;
        }
    }
    &-non-active {
        border: 1px solid $orange;
        color: $orange;
        width: 75px;

        &.active, &:hover {
            background: $orange;
            color: $white;
        }
    }
}

.btn-big {
    width: 120px;
    border: 1px solid #b7b7b7;
    @include bold-font;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 20px;
    box-shadow: none;

    &.blue {
        background: $blue;
        color: $white;
        border: 1px solid $blue;
    }
}

.bg-white {
    background: $white;
}

.bs-none {
    @include prefixes(box-shadow, none);
}

.ant-container {
    @include respond-to(1440px) {
        width: 1410px;
    }

    @include respond-to(1600px) {
        width: 1570px;
    }
}

.main-heading {
    @include black-font;
    font-size: 18px;
    margin-top: 4px;
    display: inline-block;
    &::before {
        content: "";
        display: inline-block;
        width: 29px;
        height: 12px;       
        background-image: url("../images/back-icon.png");             
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-right: 20px;
    }
}

.header {
    padding: 15px 0;

    .filter-open {
        @include medium-font;
        font-size: 12px;
        background: $white;
        color: $black;
        padding: 8px 12px;
        border: 1px solid #b7b7b7;
        width: 94px;
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;       
            background-image: url("../images/filter-icon.png");             
            background-repeat: no-repeat;
            background-position: 0 0;
            vertical-align: middle;            
            margin-right: 10px;
        }
    }
}

.modal-dialog  {
    .modal-content {
        border-radius: 6px;
    }
    .modal-header {
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
        background: $silver;
    }
    .modal-title {        
        @include semibold-font;
        font-size: 18px;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $black;
    }

    .close {
        >span {
            display: inline-block;
            width: 14px;
            height: 14px;       
            background-image: url("../images/close-icon.png");             
            background-repeat: no-repeat;
            background-position: 0 0;
            vertical-align: middle;   
            overflow: hidden;         
            text-indent: -99999px;
        }
    } 
    
    .modal-footer {
        display: initial;
    }
}

.filter-body {
    font-size: 0;
    padding: 0;
    min-height: 450px;
}

.filter {    
    &-list, &-content {
        display: inline-block;
        font-size: 12px;
        vertical-align: top;
        min-height: 450px;
    }
    &-list {
        width: percentage(175/646);
        border-right: 1px solid $silver;
        ul {            
            > li {
                list-style: none;
                @include medium-font;
                color: $halfBlack;
                > a {
                    display: block;
                    padding: 10px 20px;        
                    &:hover {
                        color: $halfBlack; 
                    }            
                }
                &.active a {
                    background: $yellow;
                    color: $halfBlack;
                }
            }
        }
    }
    &-content {
        width: percentage(471/646);
        padding: 15px;
        >div {
            &:not(:first-child) {
                display: none;
            }            
        }

        h5 {
            @include medium-font;
            font-size: 12px;
        }
    }
}

.status-action {
    margin-top: 15px;
    >button {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.content-body {
    min-height: 340px;
    border-bottom: 1px solid #ececec;
}

.content-footer {
    margin-top: 20px;
    text-align: center;
    .btn:not(:last-child) {
        margin-right: 15px;
    }
}

.ant-title {
    @include multiline-text(12px, 1.4, 1);
}
  
.bold {
    font-weight: 700;
}

.file-upload {
    margin-top: 30px;
}

.modal-lg {
    @include respond-to(992px) {
        width: 646px;
    }
}